<% @jsinit = 'Services' %>

<div data-bind="visible: pageLoaded" style="display: none">
	<div class="progressHeadingContainer service_text">
		<div data-bind="text: totalHours" class="value"></div>
		<div class="text" style="padding-left: 25px">Service Hours</div>
	</div>

	<div class="categoryDataContainer" style="width: 650px;">
		<div class="header service_bg">
			<div class="text">My Service Events</div>
			<select data-bind="options: semesters, 
							   optionsText: function(item){
							   		if (item == semesters[semesters.length - 1])
							   			return 'Current';

							   		return 'Semester ' + item;
							   	},
							   value: semester"
					class="service_text small_select form-control">
			</select>
		</div>
		<div class="body service_text" style="">
			<div data-bind="template: {name: templateToUse}"></div>
		</div>
	</div>

	<div class="progressPageBadges service_text" data-bind="foreach: { data: badges, as: 'badge' }">
		<div class="globalBadge" data-bind="css: getBadgeColor(badge)">
			<span class="title" data-bind="text: badge.title(), css: {required: badge.isminrequirement}"></span>				
			<div class="description" data-bind="text: badge.description()"></div>
			<div class="minReqStar">
				<div class="points" data-bind="text: badge.badgeValue(), css: { pas: !badge.isminrequirement() }" title="Scholarship Points"></div>
				<span class="glyphicon glyphicon-star pas star" data-bind="visible: badge.isminrequirement()" title="Minimum Requirement"></span>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="view">
	<div class="academicsView" data-bind="foreach: services, visible: services().length > 0">
		<div class="viewRow">
			<div class="className" data-bind="text: name() + ' on ' + date()"></div>
			<div class="classGrade" data-bind="text: hours() + ' hours'"></div>
		</div>
	</div>
	
	<div data-bind="visible: services().length < 1" style="padding-bottom: 20px; font-style: italic; color: gray">
		Click Edit below to add community service events.
	</div>
	<div class="buttonGroup" data-bind="visible: editable()">
		<div class="submitButton service_bg" data-bind="click: $root.edit">Edit</div>
	</div>
</script>

<script type="text/html" id="edit">
	<div class="progressEdit" style="display:none" data-bind="foreach: services, visible: services().length > 0">
		<div class="editRow service">
			<div class="glyphicon glyphicon-remove close_x" data-bind="click: $root.remove" title="Remove Service"></div>
			
			<input data-bind="css: {error: name.hasError}, valueUpdate: 'afterkeydown', value: name" placeholder="Name of Service Event or Activity" style="width: 250px" class="form-control" />			
			<input data-bind="css: {error: date.hasError}, valueUpdate: 'afterkeydown', value: date" placeholder="Date" style="width: 150px" class="datepick form-control" data-date-format="mm/dd/yyyy" />
			<input data-bind="css: {error: hours.hasError}, valueUpdate: 'afterkeydown', value: hours" placeholder="Hours" style="width: 100px" class="form-control" />
			<div class="errorText pts pbs" style="text-align: center" data-bind='visible: hours.hasError, text: hours.validationMessage'></div>
		</div>
	</div>		
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.add">Add Service Event</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton service_bg" data-bind="click: $root.save">Save</div>
		<div class="validationError errorText" style="display:none; padding-left: 10px;">Please fix any fields marked in red above.</div>
	</div>
</script>