<% @jsinit = 'Academics' %>

<h1> Academics </h1>

<table>
	<thead>
		<tr><th>Class Name</th><th>Level</th><th>Grade</th></tr>
	</thead>
	<tbody data-bind="foreach: subjects">
		<tr>
			<td><input data-bind="value: name" /></td>
			<td><select data-bind="options: $root.classLevels, value: level, optionsCaption: 'Choose...'"></select></td>
			<td><select data-bind="options: $root.possibleGrades, value: grade, optionsCaption: 'Choose...', optionsText:'letter'"></select></td>
			<td><a href="#" data-bind="click: $root.removeClass">Remove</a></td>
		</tr>
	</tbody>
</table>
<div><a href="#" data-bind="click: addClass, enable: subjects().length < 7">Add Class</a></div>
<div>
	<button class="" data-bind="visible: subjects().length > 0, click: saveClasses">Save</button>
</div>

<h3>Semester GPA</h3>
<div data-bind="visible: totalGPA() > 0, text: totalGPA().toFixed(2)"></div>

<!-- <hr />
<h2>KO Debug</h2>
<div data-bind="text: ko.toJSON(totalGPA)"></div>
<div data-bind="text: ko.toJSON(subjects)"></div> -->
