<% @jsinit = 'Academics' %>

<div data-bind="visible: pageLoaded" style="">
	<div class="progressHeadingContainer academics_text">
		<div data-bind="text: totalGPA() > 0 ? totalGPA() : '0.00'" class="value"></div>
		<div class="text">Semester GPA</div>
	</div>

	<div class="categoryDataContainer" style="width: 600px;">
		<div class="header academics_bg">
			<div class="text">My Classes</div>			
			<select data-bind="options: semesters, 
							   optionsText: function(item){
							   		if (item == semesters[semesters.length - 1])
							   			return 'Current';

							   		return 'Semester ' + item;
							   	},
							   value: semester"
					class="academics_text small_select form-control">
			</select>
			
		</div>
		<div class="body academics_text" style="">
			<div data-bind="template: {name: templateToUse}"></div>	
		</div>	
	</div>

	<div class="progressPageBadges academics_text" data-bind="foreach: { data: badges, as: 'badge' }">
		<div class="globalBadge" data-bind="css: getBadgeColor(badge)">
			<span class="title" data-bind="text: badge.title(), css: {required: badge.isminrequirement}"></span>				
			<div class="description" data-bind="text: badge.description()"></div>
			<div class="minReqStar">
				<div class="points" data-bind="text: badge.badgeValue(), css: { pas: !badge.isminrequirement() }" title="Scholarship Points"></div>
				<span class="glyphicon glyphicon-star pas star" data-bind="visible: badge.isminrequirement()" title="Minimum Requirement"></span>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="edit-classes">
	<div class="progressEdit" data-bind="foreach: subjects, visible: $root.subjects().length > 0" style="display:none;">
		<div class="editRow academics">
			<div class="glyphicon glyphicon-remove close_x" data-bind="click: $root.removeClass" title="Remove Class"></div>

			<select class="classDD form-control" data-bind="css: {error: school_class_id.hasError}, valueUpdate: 'afterkeydown', options: $root.globalsubjects, value: school_class_id, optionsCaption: 'Choose...', optionsText:'name', optionsValue:'id'"></select>
			<select class="gradeDD form-control" data-bind="css: {error: grade.hasError}, valueUpdate: 'afterkeydown', options: $root.possibleGrades, value: grade, optionsCaption: 'Choose...'"></select>			
		</div>
	</div>		
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.addClass, enable: $root.subjects().length < 7">Add Class</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton academics_bg" data-bind="click: $root.saveClasses">Save</div>
		<div class="validationError errorText" style="display:none; padding-left: 10px;">Please fix any fields marked in red above.</div>
	</div>	
</script>

<script type="text/html" id="view-classes">			
	<div class="academicsView" data-bind="foreach: subjects, visible: $root.subjects().length > 0" style="display:none">
		<div class="viewRow">
			<div class="className" data-bind="text: name"></div>
			<div class="classGrade" data-bind="text: grade"></div>
		</div>
	</div>
	<div data-bind="visible: $root.subjects().length < 1" style="padding-bottom: 20px; font-style: italic; color: gray">
		Click Edit below to add your classes.
	</div>
	<div class="buttonGroup" data-bind="visible: editable()">
		<div class="submitButton academics_bg" data-bind="click: $root.editClasses">Edit</div>		
	</div>
</script>