<% @jsinit = 'Academics' %>

<div class="progressHeadingContainer academics_text" style="width: 600px">
	<div data-bind="text: totalGPA().toFixed(2)" class="value"></div>
	<div class="text">Semester GPA</div>
</div>

<div class="categoryDataContainer" style="width: 600px;">
	<div class="header academics_bg">
		<span class="text">My Classes</span>
	</div>
	<div class="body academics_text" style="">
		<div data-bind="template: {name: templateToUse}"></div>	
	</div>
	
	<%= render 'partials/badge_modal' %>
</div>

<script type="text/html" id="edit-classes">		
	<div class="academicsEdit" data-bind="foreach: subjects">
		<div class="editRow">	
			<select class="classDD" data-bind="options: $root.globalsubjects, value: school_class_id, optionsCaption: 'Choose...', optionsText:'name', optionsValue:'id'"></select>
			<select class="gradeDD" data-bind="options: $root.possibleGrades, value: grade, optionsCaption: 'Choose...'"></select>
			<a href="#" data-bind="click: $root.removeClass">Remove Class</a>
		</div>
	</div>		
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.addClass, enable: $root.subjects().length < 7">Add Class</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton academics_bg" data-bind="click: $root.saveClasses">Save</div>		
	</div>	
</script>

<script type="text/html" id="view-classes">			
	<div class="academicsView" data-bind="foreach: subjects">
		<div class="viewRow">
			<div class="className" data-bind="text: name"></div>
			<div class="classGrade" data-bind="text: grade"></div>
		</div>
	</div>
	<div class="buttonGroup">
		<div class="submitButton academics_bg" data-bind="click: $root.editClasses">Edit</div>		
	</div>
</script>