<% @jsinit = 'Academics' %>

<h1> Academics </h1>

<div data-bind="template: {name: templateToUse}"></div>	

<script type="text/html" id="edit-classes">
	<table>
		<thead>
			<tr><th>Class Name</th><th>Level</th><th>Grade</th></tr>
			<tbody data-bind="foreach: subjects">
				<tr>
					<!--<td><input data-bind="value: name" /></td>-->
					<td><select data-bind="options: $root.globalsubjects, value: school_class_id, optionsCaption: 'Choose...', optionsText:'name', optionsValue:'id'"></select></td>
					<!--<td><select data-bind="options: $root.classLevels, value: level, optionsCaption: 'Choose...', optionsText:'levelname', optionsValue:'levelid'"></select></td>-->
					<td><select data-bind="options: $root.possibleGrades, value: grade, optionsCaption: 'Choose...'"></select></td>
					<td><a href="#" data-bind="click: $root.removeClass">Remove</a></td>
				</tr>
			</tbody>
		</thead>		
	</table>
	<div>
		<a href="#" data-bind="click: $root.addClass, enable: $root.subjects().length < 7">Add Class</a>
	</div>
	<div>
		<button class="" data-bind="click: $root.saveClasses">Save
		</button>
		<button class="" data-bind="click: $root.cancelEdit">Cancel
		</button>
	</div>
</script>

<script type="text/html" id="view-classes">	
	<table>
		<thead>
			<tr><th>Class Name</th><th>Level</th><th>Grade</th></tr>
			<tbody data-bind="foreach: subjects">
				<tr>
					<td><span data-bind="text: name"></span></td>
					<!-- <td><span data-bind="text: $root.classLevels[level()].levelname"></span></td> -->
					<td><span data-bind="text: grade"></span></td>					
				</tr>
			</tbody>
		</thead>		
	</table>
	<div>
		<button class="" data-bind="click: $root.editClasses">Edit</button>
	</div>
</script>


<h3>Semester GPA</h3>
<div data-bind="visible: totalGPA() > 0, text: totalGPA().toFixed(2)"></div>

<!-- <hr />
<h2>KO Debug</h2>
<div data-bind="text: ko.toJSON(totalGPA)"></div>
<div data-bind="text: ko.toJSON(subjects)"></div> -->


<!-- <div style="font-weight: bold"><span>Class Name</span><span>Level</span><span>Grade</span></div>
	<div>
		<span data-bind="text: name"></span>
		<span data-bind="text: $root.classLevels[level()].levelname"></span>
		<span data-bind="text: grade">
	</div> -->