<% @jsinit = 'Academics' %>

<div data-bind="visible: pageLoaded" style="display: none">
	<div class="progressHeadingContainer academics_text" style="width: 600px">
		<div data-bind="text: totalGPA() > 0 ? totalGPA().toFixed(2) : '0.00'" class="value"></div>
		<div class="text">Semester GPA</div>
	</div>

	<div class="categoryDataContainer" style="width: 600px;">
		<div class="header academics_bg">
			<span class="text">My Classes</span>
		</div>
		<div class="body academics_text" style="">
			<div data-bind="template: {name: templateToUse}"></div>	
		</div>	
	</div>

	<div class="progressPageBadges academics_text" data-bind="foreach: { data: badges, as: 'badge' }">
		<div class="globalBadge" data-bind="css: getBadgeColor(badge)">
			<span class="title" data-bind="text: badge.title(), css: {required: badge.isminrequirement}"></span>				
			<div class="description" data-bind="text: badge.description()"></div>
			<div data-bind="visible: badge.isminrequirement()" class="minReqStar"><%= image_tag("star.png", :size => "33x33", :alt => "Minimum Requirement") %></div>
		</div>
	</div>
</div>

<script type="text/html" id="edit-classes">
	<div class="academicsEdit" data-bind="foreach: subjects, visible: $root.subjects().length > 0" style="display:none;">
		<div class="editRow">
			<div class="close_x" data-bind="click: $root.removeClass" style="">x</div>	
			<select class="classDD" data-bind="options: $root.globalsubjects, value: school_class_id, optionsCaption: 'Choose...', optionsText:'name', optionsValue:'id'"></select>
			<select class="gradeDD" data-bind="options: $root.possibleGrades, value: grade, optionsCaption: 'Choose...'"></select>			
		</div>
	</div>		
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.addClass, enable: $root.subjects().length < 7">Add Class</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton academics_bg" data-bind="click: $root.saveClasses">Save</div>
		<div class="validationError" style="color: red; display:none; padding-left: 10px;">Please fill in all fields marked in red.</div>
	</div>	
</script>

<script type="text/html" id="view-classes">			
	<div class="academicsView" data-bind="foreach: subjects, visible: $root.subjects().length > 0" style="display:none">
		<div class="viewRow">
			<div class="className" data-bind="text: name"></div>
			<div class="classGrade" data-bind="text: grade"></div>
		</div>
	</div>
	<div data-bind="visible: $root.subjects().length < 1" style="padding-bottom: 20px; font-style: italic; color: gray">
		Click Edit below to add your classes.
	</div>
	<div class="buttonGroup">
		<div class="submitButton academics_bg" data-bind="click: $root.editClasses">Edit</div>		
	</div>
</script>