<div class="quick-links">
	<ul>
		<%= link_to '<li class="quick-yellow">10 Reasons to Donate</li>'.html_safe %>
		<%= link_to '<li class="quick-red">Resources</li>'.html_safe %>
		<%= link_to '<li class="quick-green">Calendar</li>'.html_safe %>
		<%= link_to '<li class="quick-purple">Contact Us</li>'.html_safe %>
	</ul>
</div>