<div class="page-title">
	<h1>Apply Now</h1>
</div>
<div class="page-content">
	<p>We're glad you are interested in applying for the Waianae Coast Scholarship Fund. This program is different than other college scholarships. WCSF will reward you for taking all the steps necessary on your path to college.</p>
</div>
<div class="apply-text clearfix">
	<div class="what-it-takes">
		<h3>Do you have what it takes?</h3>
		<p>Seats in the WCSF program are limited. We need to know that you are committed to staying on track with the programs requirements. The first thing we do is look at your current track record. How are you doing in school now? Are you involved in extracurricular activities? Have you done any volunteer work?</p>
		<%= link_to 'Application Requirements', '', class: 'btn btn-warning' %>
	</div>
	<div class="prepare-early">
		<h3>Start preparing early</h3>
		<p>If you are in 6th, 7th or 8th grade and are interested in the WCSF program you should start preparing now to increase your chances of making it in. We have put together a guide of suggestions to help you make the cut.</p>
		<%= link_to 'Suggested Preparation', '', class: 'btn btn-warning' %>
	</div>
</div>
<div class="page-content apply-now">
	<h2>Ready to Apply?</h2>
	<p>So, you have read over the program requirements and are ready to dive in? Right now we are only accepting paper applications. You will need to download the WCSF Application PDF, complete the printed form and mail it in for review. Good luck!</p>
	<%= link_to 'Download Application', '', class: 'btn btn-success' %>
</div>


