<div class="row">
	<div class="span8" id="slideshow">

	</div>
</div>

<div class="row">
	<div class="span5 main-quote">
		<h2>The WCSF is an initiative working to promote educational achievement in low income communities.</h2>
	</div>
	<div class="span3 estimator">
		<h4>Make college a reality by using our new IMUA College Prep Portal.</h4>
		<%= link_to 'Login today', '#' %>
	</div>
</div>
<div class="row">
	<div class="span5 news-announcments">
		<h2>News and Announcements</h2>
		<div class="blog-excerpt">
			<h3>Our First post</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<p><%= link_to 'Read more', '#' %></p>
		</div>
		<div class="blog-excerpt">
			<h3>New Events for WCSF</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi.</p>
			<p><%= link_to 'Read more', '#' %></p>
		</div>
		<div class="blog-excerpt">
			<h3>Our Latest Scholarships</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation.</p>
			<p><%= link_to 'Read more', '#' %></p>
		</div>
	</div>
	<div class="span3 testimonial">
		<p>
			"I applied for the WCSF because I would like to be one of the first in my family to finish college and obtain a degree. Not only is college unaffordable for me and my family, but college is only a mere dream rather than a reality"
		</p>
		<p>-Dresha Desoto, Class of 2016</p>
	</div>
</div>
