<div id="slideshow"></div>

<div class="home-headline clearfix">
	<div class="main-quote">
		<h2>The WCSF is an initiative working to promote educational achievement in low income communities.</h2>
	</div>
	<div class="try-app">
		<h4>Make college a reality by using our new IMUA College Prep Portal.</h4>
		<%= link_to 'Login today', new_user_session_path %>

	</div>
</div>
<div class="home-main-content clearfix">
	<p>
		The WCSF is a 501(c) (3) college preparatory program that seeks to enroll high-performing 8th graders that will be attending high school. The program will guide students from 9th grade to college using a set of university-aligned program requirements and curriculum, merit-based fund accumulation, long-term planning, and staff mentoring/support.
	</p>
</div>