<div class="slideshow">
</div>

<div class="row">
	<div class="span5 main-quote">
		<h2>The WCSF is not just a scholarship fund. It is an initiative working to promote educational acheivment in Waianae, Hawaii</h2>
	</div>
	<div class="span3 estimator">
		<h4>How much cash could your hard work earn you?</h4>
		<%= link_to 'Try our scholarship estimator!', '#' %>
	</div>
</div>
<div class="row">
	<div class="span5 news-announcments">
		<div class="blog-excerpt">
			<h3>Our First post</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<p><%= link_to 'Read more', '#' %></p>
		</div>
		<div class="blog-excerpt">
			<h3>New Events for WCSF</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi.</p>
			<p><%= link_to 'Read more', '#' %></p>
		</div>
		<div class="blog-excerpt">
			<h3>Our Latest Scholarships</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation.</p>
			<p><%= link_to 'Read more', '#' %></p>
		</div>
	</div>
	<div class="span3 testimonial">
		<p>
			WCSF will help me to reach my goals because
			it gives me the opportunity to reach my dreams of
			becoming whatever I want to be in the future by
			pushing me to do my best.
		</p>
		<p>- Akio Sipe</p>
	</div>
</div>
