<div id="slideshow" style="border: 5px solid;"></div>

<!-- <div class="home-headline clearfix">
	<div class="main-quote">
		<h2>The WCSF is an initiative working to promote educational achievement in low income communities.</h2>
	</div>
	<div class="try-app">
		<h4>Make college a reality by using our new IMUA College Prep Portal.</h4>		
	</div>
</div> -->
<div class="home-main-content clearfix">
	<p>
		The WCSF is a 501(c) (3) college preparatory program that seeks to enroll high-performing 8th graders that will be attending high school. The program provides students in low income communities with the expectations, guidance, and semesterly scholarship accrual to become college-ready.
	</p>
<br><br>
	<p>
		We strongly believe that student success is a direct product of the amount of time
		spent with the students. We set high expectations for the students and provide the necessary guidance and support to ensure their success. Upon culmination of the program our students are not only academically eligible for college, but have participated in numerous community service events, extracurricular activities, and professional development courses.
	</p>
</div>