<div class="page-title">
	<h1>Partnerships</h1>
</div>
<div class="page-content">
	<div class="partner-row clearfix">
		<%= image_tag 'logo-holomua-gearup.png' %>
		<div class="partner-text">
			<h2>Gear Up</h2>
			<p>Gaining Early Awareness and Readiness for Undergraduate Programs (GEAR UP) is a grant program dedicated to increasing the number of low-income students prepared to succeed in college. GEAR Up has helped connect the WCSF with educational organizations in Hawaii and has supported several WCSF professional development events by providing resources.</p>
		</div>
	</div>
	<div class="partner-row clearfix">
		<%= image_tag 'logo-uh-west-oahu.png' %>
		<div class="partner-text">
			<h2>University of Hawai`i West Oahu</h2>
			<p>Project Holomua, GEAR UP's University of Hawaii-West Oahu program, received a United States Department of Education grant requiring community partners. With a mission aligned to Project Holomua, the WCSF partnered with GEAR UP UHWO in June 2013. WCSF scholars are offered opportunities to take professional development classes taught at UHWO, learning in an undergraduate environment and familiarizing themselves with a college campus.</p>
		</div>
	</div>
	<div class="partner-text">
		<div class="lets-partner">
			<h2>Let's work together!</h2>
			<p>The WCSF understands that the only way to significantly increase the educational opportunity for leeward students is to synergize the efforts of many organizations that are working towards the same goal. If your organization is interested in discussing ways that we can support each other, please <%= link_to 'contact us', contact_path %>. </p>
			<div class="centered-button"><%= link_to 'Contact Us', contact_path, class: 'btn btn-large btn-warning' %></div>
		</div>
	</div>
</div>
