<div class="page-title">
	<h1>Our Students</h1>
</div>
<div class="page-content">
	<div class="students clearfix">
		<% @students.each do |student| %>
			<div class="student">
				<%= link_to '#' do %>
					<%= image_tag student.image_url %>
					<h3><%= "#{student.first_name} #{student.last_name}" %></h3>
				<% end %>
			</div>
		<% end %>
	</div>
</div>



