<div class="page-title">
	<h1>Our Students</h1>
</div>
<div class="page-content">
	<div class="students">
		<div class="student">
			<%= image_tag '' %>
			<h3>Dresha Desoto</h3>
		</div>
	</div>


</div>



