<% @jsinit = "Summary" %>

<style type="text/css">
	.square { height: 100px; width: 100px; border: 1px solid green; border-style: solid; display: inline-block; position: relative; }

	.gridContainer>div {font-size: 0;}
	
	.green { background-color: green; border-color: green;}

	.hovered { background-color: #CCC;}
	.badgeSquare.ui-draggable-dragging {box-shadow: 0 0 10px #333; }

	.square.badgeSquare {border-color: black;}

	.level  {margin-bottom: -10px;}

	.squareText{position: absolute; color: black; font-size: 22px; left:0; top:0; padding:30px; }
</style>

<h1>Student Summary</h1>

<div class="badgesContainer" style="border: 1px solid black; width: 400px; height: 800px; float: right; padding: 5px;">
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
	<div class="square badgeSquare green"></div>
</div>

<div id="totalAmount" data-bind="text: totalDollars">
</div>

<div class="gridContainer">
	<div data-bind="foreach: { data: rows, as: 'row' }">
		<div data-bind="foreach: { data: squares, as: 'square'}, attr: {'level':rowNum}" class="level">
			<div data-bind="attr:{'col':squareNum}" class="square emptySquare">
				<span data-bind="text: square.dollarValue() > 0 ? square.dollarValue : ''" class="squareText"></span>
			</div>
		</div>
	</div>
</div>