<div class="page-title">
	<h1>Program Description</h1>
</div>
<div class="page-content">
	<div class="qa-row clearfix">
		<%= image_tag 'what-is-students.jpg', class: "green-line" %>
		<div class="qa-text">
			<h2>What is the WCSF?</h2>
			<p>The WCSF is a 501(c) (3) college preparatory program that seeks to enroll high-performing 8th graders that will be attending high school. The program guides students from 9th grade to college--using a set of university-aligned program requirements and curriculum, merit-based fund accumulation, long-term planning, and staff mentoring/support.</p>
		</div>
	</div>
	<div class="qa-row clearfix">
		<%= image_tag 'what-is-mark.jpg', class: "red-line" %>
		<div class="qa-text">
			<h2>What problem is the WCSF solving?</h2>
			<p>Research has shown that high-achieving students from low income communities are disproportionately represented in selective college environments compared to their affluent counterparts. This is true even with institutions looking to create socio-economically diverse campuses and willing to provide substantial financial aid packages.</p>
			<p>The primary reason for this is because students from affluent backgrounds are more often taught the “how to” game of being admitting into college. They are guided through high school, constantly reminded of what is important for admission, provided with the preparatory resources, and instilled with expectations for college success.</p>
			<p>The WCSF is looking to provide the support network, resources, and expectations to guide students with a strong desire to attend college and a demonstrated commitment to education to become college ready.</p>
		</div>
	</div>
	<div class="qa-row clearfix">
		<%= image_tag 'what-is-check.jpg', class: "purple-line" %>
		<div class="qa-text">
			<h2>Does the WCSF Work?</h2>
			<p>Yes! In our first year of implementation, our 30 students have averaged over a 3.8 GPA. They have collectively completed over 200 hours of community service. All of them are involved in an extracurricular program, 27% of which are already holding leadership roles. The students have participated in various college preparation activities and have been awarded over $7,000 in scholarship awards from the WCSF.</p>
			<p>The results that we see from our students are a combination of 3 critical factors. First, we establish rigorous performance requirements that students  focus on each semester to become college-ready. Then, we incentivize achievement by awarding scholarships each semester to students who are meeting or exceeding performance requirements. Most importantly, though, we meet with the students each week to provide the mentorship needed to keep students on track. Thus, our program boasts a 91% performance compliance rate.</p>
		</div>
	</div>
</div>



