<div class="upper-content clear">   
    <div class="wrapper">
        <div class="greeting left">   
            <h4>Hey there Dresha,</h4>
            <h1>Welcome Back!</h1>   
            
            <div class="buttons">
                <div class="button">See your progress</div>
                <div class="button">Check out your badges</div>
            </div>   
        </div>   
        
        <div class="current-points left">   
            <div class="featured-graph">   
                <div class="inner">   
                    <h5>You've earned</h5>
                    <h3>540</h3>
                    <h5>Scholarship Points</h5>   
                </div>       
            </div>   
        </div>   
    </div>       
</div><!-- .upper-content -->
   
<div class="middle-content clear">   
    <div class="wrapper">
        <h4 class="bold">Great News!</h4>
        <h5>You're meeting the minimum requirements.</h5>
       
        <div class="progress-bar">   
            **Placeholder for Minimum Requirements and Progress Bar**   
        </div>   
    </div>       
</div><!-- .middle-content -->
   
<div class="lower-content">   
    <div class="ribbon gpa clear">   
        <div class="left">   
            <div class="status">   
                <h4>Your GPA</h4>
                <h1>3.5</h1>

                <div class="button">
                    Update your grades
                </div>   
            </div>   
        </div>
   
        <div class="right">   
            <ul>
                <li class="badge">Badge Placeholder</li>
                <li class="badge">Badge Placeholder</li>
                <li class="badge">Badge Placeholder</li>
                <li class="badge">Badge Placeholder</li>
                <li class="badge">Badge Placeholder</li>           
            </ul>
        </div>   
    </div><!-- .ribbon -->
   
    <div class="ribbon extracurriculars clear">   
        <div class="left">   
            <div class="status">
                <h4>Extracurriculars</h4>
                <h1>1</h1>
                <h4>Activity</h4>
                
                <div class="button">
                    Update your activities
                </div>
            </div> 
        </div>
   
        <div class="right">   
            <ul>   
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
            </ul>   
        </div>   
    </div><!-- .ribbon -->
   
    <div class="ribbon service clear">   
        <div class="left">   
            <div class="status">
                <h4>Service</h4>
                <h1>12</h1>
                <h4>Hours</h4>

                <div class="button">
                    Add or update service hours
                </div>   
            </div>   
        </div>
   
        <div class="right">   
            <ul>   
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
            </ul>   
        </div>     
    </div><!-- .ribbon -->
   
    <div class="ribbon PDU clear">
        <div class="left">   
            <div class="status">
                <h4>PDU</h4>
                <h1>2</h1>
                <h4>Events</h4>

                <div class="button">
                    Add or update PDU events
                </div>
            </div>
        </div>
   
        <div class="right">   
            <ul>   
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>       
            </ul>   
        </div>   
    </div><!-- .ribbon -->
   
    <div class="ribbon testing clear">   
        <div class="left">   
            <div class="status">
   
                <h4>Testing</h4>
                <h1>5</h1>
                <h4>Completed</h4>

                <div class="button">
                    Add or update PDU events
                </div>    
            </div>
        </div>
   
        <div class="right">   
            <ul>   
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>
                <li>Badge Placeholder</li>       
            </ul>
        </div>   
    </div><!-- .ribbon -->   
</div><!-- .lower-content -->
      