<% @jsinit = "new SuperAdmin().init(#{@dataModel.to_json});" %>

<div class="contentContainer">	
	<div class="pbm">
		<span class="clickable" data-bind="click: addSubject">
			<span class="glyphicon glyphicon-plus-sign add"></span> 
			Subject
		</span>	
	</div>

	<!-- SUBJECTS -->
	<div id="subjectAccordion" data-bind="foreach: TestSubjects">
		<div class="prepSubject" style="border: 1px solid gray;">
			<!-- Subject header -->
			<h4 class="pls clickable bold accordionHeader" data-bind="text: name" accordion-parent="#subjectAccordion"></h4>

			<!-- Subject body -->
			<div class="accordionBody">
				<div class="plm pbxl">
					<span class="clickable" data-bind="click: $root.addCategory">
						<span class="glyphicon glyphicon-plus-sign add"></span> 
						Category
					</span>

					<!-- Category Modal -->
					<div data-bind="attr: {id: 'addCategoryModal' + name()}" class="modal fade">
						<div class="modal-dialog"><div class="modal-content">
							<div class="modal-body">
								<h5>Add Category</h5>
								<div class="categoryInputs">
									<input class="name" placeholder="Category name (e.g. Pre-Algebra)" />
									<input class="level" placeholder="Level (e.g. 1)" />
									<a href="#" data-bind="click: $root.saveCategory">Save</a>
									<a href="#" data-bind="click: $root.cancelCategory">Cancel</a>
								</div>
							</div>
						</div></div>
					</div>
				</div>

				<!-- Categories -->
				<div id="categoryAccordion" data-bind="foreach: TestCategories" style="">
					<div class="plm prepSubject" style="">
						<!-- Category header -->
						<h5 data-bind="text: level() + ' - ' + name()" class="bold accordionHeader" accordion-parent="#categoryAccordion"></h5>

						<!-- Category body -->
						<div data-bind="" class="accordionBody">
							<div class="plxl pbxl">
								<span class="clickable" data-bind="click: $root.addSubCategory">
									<span class="glyphicon glyphicon-plus-sign add"></span> 
									Sub-Category
								</span>

								<!-- SubCategory Modal -->
								<div data-bind="attr: { id: 'addSubCategoryModal' + level() }" class="modal fade">
									<div class="modal-dialog"><div class="modal-content">
										<div class="modal-body">
											<h5>Add Sub Category</h5>
											<div class="subCategoryInputs">
												<input class="name" placeholder="Name (e.g. Basic Operations)" />
												<input class="description" placeholder="Description (e.g. Basic operations using whole numbers, decimals, fractions,  and integers)" />
												<input class="level" placeholder="Level (e.g. 1)" />
												<a href="#" data-bind="click: $root.saveSubCategory">Save</a>
												<a href="#" data-bind="click: $root.cancelSubCategory">Cancel</a>
											</div>
										</div>
									</div></div>
								</div>
								<!-- SubCategory Modal -->

							</div>

							<!-- SubCategories -->
							<div id="subcategoryAccordion" data-bind="foreach: TestSubCategories">
								<div class="plxl pbm prepSubject" style="">
									<!-- SubCategories header -->
									<div data-bind="" class="accordionHeader" accordion-parent="#subcategoryAccordion">
										<div data-bind="text: level() + ' - ' + name()" class="bold" style="display:inline-block"></div> - <h6 data-bind="text: description()" style="display:inline-block;"></h6>
									</div>

									<!-- SubCategories body -->
									<div data-bind="" class="accordionBody">
										<div class="pls pbxl">
											<span class="clickable" data-bind="click: $root.addQuestion">
												<span class="glyphicon glyphicon-plus-sign add"></span> 
												Question
											</span>

											<!-- Question Modal -->
											<div data-bind="attr: {id: 'addQuestionModal' + id()}" class="modal fade">
												<div class="modal-dialog"><div class="modal-content">
													<div class="modal-body">
														<%= render 'question' %>
													</div>
												</div></div>
											</div>
										</div>

										<div data-bind="foreach: TestQuestions">
											<div data-bind="text: questionText"></div>
										</div>			
									</div>
								</div>					
							</div> <!-- SubCategories -->
						</div> <!-- Category body -->
					</div>
				</div> <!-- Categories -->
			</div> <!-- Subject body -->
		</div>
	</div> <!-- Subjects -->
</div>

<div id="addSubjectModal" class="modal fade">
	<div class="modal-dialog"><div class="modal-content">
		<div class="modal-body">
			<h5>Add Subject</h5>
			<input id="subjectNameInput" placeholder="Subject name (e.g. Math)" />
			<a href="#" data-bind="click: saveSubject">Save</a>
			<a href="#" data-bind="click: cancelSubject">Cancel</a>
		</div>
	</div></div>
</div>