<% @jsinit = "new SuperAdmin().init(#{@dataModel.to_json});" %>

<div class="contentContainer">
	<h3> ACT Practice Quizzes </h3>
	<a href="#" data-bind="click: addSubject">Add Subject</a>
	<div data-bind="visible: addingSubject" style="display:none;">
		<input id="subjectNameInput" placeholder="Subject name (e.g. Math)" />
		<a href="#" data-bind="click: saveSubject">Save</a>
		<a href="#" data-bind="click: cancelSubject">Cancel</a>
	</div>

	<!-- SUBJECTS -->
	<div id="accordion" data-bind="foreach: TestSubjects">
		<div class="prepSubject" style="border: 1px solid gray;">
			<!-- Subject header -->
			<h4 class="pls" data-bind="text: name, attr: {href: '#collapse' + name()}" data-toggle="collapse" data-parent="#accordion" style="cursor: pointer;"></h4>			

			<!-- Subject body -->
			<div data-bind="attr: {id: 'collapse' + name()}" class="panel-collapse collapse" >
				<div class="pls pbs">
					<a href="#" data-bind="click: $root.addCategory">Add Category</a>
					<div data-bind="visible: $root.addingCategory" style="display:none;">
						<input id="categoryNameInput" placeholder="Category name (e.g. Pre-Algebra)" />
						<input id="categoryNameLevel" placeholder="Level (e.g. 1)" />
						<a href="#" data-bind="click: $root.saveCategory">Save</a>
						<a href="#" data-bind="click: $root.cancelCategory">Cancel</a>
					</div>
				</div>

				<!-- Categories -->
				<div id="categoryAccordion" data-bind="foreach: TestCategories" style="">
					<div class="plm prepSubject" style="">
						<!-- Category header -->
						<h5 data-bind="text: name, attr: {href: '#collapseCategory' + level()}" data-toggle="collapse" data-parent="#categoryAccordion" style="border-bottom: 1px dotted gray;"></h5>

						<!-- Category body -->
						<div data-bind="attr: {id: 'collapseCategory' + level()}" class="panel-collapse collapse">
							<div class="pls pbs">
								<a href="#" data-bind="click: $root.addSubCategory">Add Sub-Category</a>
								<div id="subCategoryInputs" data-bind="visible: $root.addingSubCategory" style="display:none;">
									<input class="name" placeholder="Name (e.g. Basic Operations)" />
									<input class="description" placeholder="Description (e.g. Basic operations using whole numbers, decimals, fractions,  and integers)" />
									<input class="level" placeholder="Level (e.g. 1)" />
									<a href="#" data-bind="click: $root.saveSubCategory">Save</a>
									<a href="#" data-bind="click: $root.cancelSubCategory">Cancel</a>
								</div>
							</div>

							<!-- SubCategories -->
							<div id="subCategoryAccordion" data-bind="foreach: TestSubCategories" style="">
								<div class="plxl prepSubject" style="">
									<!-- SubCategories header -->
									<div data-bind="attr: {href: '#collapseSubCategory' + level()}" data-toggle="collapse" data-parent="#subCategoryAccordion"  style="border-bottom: 1px dotted gray;">
										<h5 data-bind="text: name" style="display:inline-block"></h5> - <h6 data-bind="text: description()" style="display:inline-block;"></h6>
									</div>

									<!-- SubCategories body -->
									<div data-bind="attr: {id: 'collapseSubCategory' + level()}" class="panel-collapse collapse">
										<div class="pls pbs">
											<a href="#" data-bind="click: $root.addQuestion">Add Question</a>	
										</div>									
									</div>
								</div>					
							</div> <!-- SubCategories -->
						</div> <!-- Category body -->
					</div>
				</div> <!-- Categories -->
			</div> <!-- Subject body -->
		</div>
	</div>
	<hr>
	<div class="quizSection" style="font-size: 16px;">
		<ul class="nav nav-tabs">
			<li class="active">
		  		<a href="#" data-toggle="tab" data-bind="click: clickSection.bind($data, 'Math')">Math</a>
			</li>
			<li>
				<a href="#" data-toggle="tab" data-bind="click: clickSection.bind($data, 'Reading')">Reading</a>
			</li>
			<li>
				<a href="#" data-toggle="tab" data-bind="click: clickSection.bind($data, 'English')">English</a>
			</li>
			<li>
				<a href="#" data-toggle="tab" data-bind="click: clickSection.bind($data, 'Science')">Science</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content pam" style="border:1px solid lightgrey; border-top: 0 none;">
		  	<div class="tab-pane active" id="Math" style="height: 200px; overflow: auto;" data-bind="css: { active: showSection($data, 'Math') }, foreach: { data: actMathTests, as: 'subjects' }">
				<div data-bind="text: subjects[0].subject()" style="font-size: 14px;"></div>
				<div data-bind="foreach: { data: subjects, as: 'test' }">
					<div class="viewRow" style="font-size: 12px;">
						<div class="" data-bind="text: test.name()"></div>	
					</div>
				</div>
			</div>
			<div class="tab-pane active" id="Reading" style="height: 200px; overflow: auto;" data-bind="css: { active: showSection($data, 'Reading') }, foreach: { data: actReadingTests, as: 'subjects' }">
				<div data-bind="text: subjects[0].subject()"></div>
				<div data-bind="foreach: { data: subjects, as: 'test' }">
					<div class="viewRow">
						<div class="" data-bind="text: test.name()"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="English">...</div>
			<div class="tab-pane" id="Math">...</div>
		</div>
	</div>
</div>
