<h1>New Exam</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [:global_exam, @global_exam], :url => {:action => :createexam}, :html => {:class => "basicForm"} do |f| %>
      <%= render 'examform', :isEdit => false, :f => f %>
    <% end %>
  </div>
</div>

<div class="span6 offset3">
	<%= link_to 'Back', global_exam_root_path %>
</div>