<h1>Students</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= link_to "#{student.first_name} #{student.last_name}", edit_admin_student_path(student) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a student', new_admin_student_path %>
