<% @jsinit = "new Progress(#{@user_id}, '#{@category}', true).init();" %>

<div class="progressLeftPane leftPane">
	<div class="studentName"><%=@student.first_name + ' ' + @student.last_name%></div>
	<ul class="progressNav">
		<li id="academicsNav" class="progressNavLi academics_text">Academics</li>
		<li id="extracurNav" class="progressNavLi extracur_text">Extracurricular</li>
		<li id="serviceNav" class="progressNavLi service_text">Service</li>
		<li id="pduNav" class="progressNavLi pdu_text">PDU</li>
		<li id="testingNav" class="progressNavLi testing_text">Testing</li>
	</ul>
</div>

<div id="progressPages" class="progressContentContainer contentContainer">
	
</div>