<div class="page-title">
	<h1>Contact Us</h1>
</div>
<div class="page-content">
	<p>If you have questions about the program or are looking for ways you can support the WCSF initiative, please reach out to us directly using the space below.</p>
	<div class="contact clearfix">
		<div class="contact-form">
			<%= render 'form' %>
		</div>
		<div class="contact-info">
			<h3>Mailing Address</h3>
			<p>
				<strong>Waiaane Intermediate School</strong><br>
				Attn: Waianae Coast Scholarship Fund<br>
				85-626 Farrington Highway<br>
				Wai`anae, HI 96792
			</p>
			<h3>Phone Number</h3>
			<p>(312) 725-2014</p>
		</div>
	</div>
</div>