<div class="page-title">
	<h1>Contact Us</h1>
</div>
<div class="page-content">
	<p>If you have a question, please get in touch...</p>
	<div class="contact-form">
		<%= render 'form' %>
	</div>
</div>