<% @jsinit = 'Pdus' %>

<div data-bind="visible: pageLoaded" style="display: none">
	<div class="progressHeadingContainer pdu_text">
		<div data-bind="text: totalPdus().length" class="value"></div>
		<div class="text" style="padding-left: 25px">PDU Events</div>
	</div>

	<div class="categoryDataContainer" style="width: 650px;">
		<div class="header pdu_bg">
			<div class="text">My PDU Events</div>
			<select data-bind="options: semesters, 
							   optionsText: function(item){
							   		if (item == semesters[semesters.length - 1])
							   			return 'Current';

							   		return 'Semester ' + item;
							   	},
							   value: semester"
					class="pdu_text small_select">
			</select>
		</div>
		<div class="body pdu_text" style="">
			<div data-bind="template: {name: templateToUse}"></div>
		</div>
	</div>

	<div class="progressPageBadges pdu_text" data-bind="foreach: { data: badges, as: 'badge' }">
		<div class="globalBadge" data-bind="css: getBadgeColor(badge)">
			<span class="title" data-bind="text: badge.title(), css: {required: badge.isminrequirement}"></span>				
			<div class="description" data-bind="text: badge.description()"></div>
			<div class="minReqStar">
				<div class="points" data-bind="text: badge.badgeValue(), css: { pas: !badge.isminrequirement() }" title="Scholarship Points"></div>
				<%= image_tag("star.png", :size => "33x33", :alt => "Minimum Requirement", :"data-bind"=>"visible: badge.isminrequirement()", :title=>"Minimum Requirement")%>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="view">
	<div class="academicsView" data-bind="foreach: totalPdus, visible: totalPdus().length > 0">
		<div class="viewRow">
			<div class="className" data-bind="text: name() + ' on ' + date()"></div>
			<div class="classGrade" data-bind="text: hours() + ' hours'"></div>
		</div>
	</div>
	
	<div data-bind="visible: totalPdus().length < 1" style="padding-bottom: 20px; font-style: italic; color: gray">
		Click Edit below to add PDU events.
	</div>
	<div class="buttonGroup" data-bind="visible: editable()">
		<div class="submitButton pdu_bg" data-bind="click: $root.edit">Edit</div>
	</div>
</script>

<script type="text/html" id="edit">
	<div class="pdusEdit" style="display:none" data-bind="foreach: { data: totalPdus, as: 'pdu'}, visible: totalPdus().length > 0">
		<div style="border: 1px solid lightgrey; padding: 10px; border-radius: 3px; margin-bottom: 20px; position: relative;">
			<div data-bind="click: $root.remove" style="position: absolute; right: -5px; top: -10px; font-size: 20px; color: red; cursor: pointer;">x</div>
			
			<select data-bind="css: {error: school_pdu_id.hasError}, valueUpdate: 'afterkeydown', options: $root.globalpdus, value: pdu.school_pdu_id, optionsCaption: 'Choose PDU Event...', optionsText:'name', optionsValue:'id'" style="width:220px; position: relative; top: 5px;"></select>
			<input data-bind="value: date, css: {error: date.hasError}, valueUpdate: 'afterkeydown'" placeholder="Date" style="width: 150px" class="datepick" data-date-format="mm/dd/yyyy" />
			<input data-bind="value: hours, css: {error: hours.hasError}, valueUpdate: 'afterkeydown'" placeholder="Hours" style="width: 100px" />
			<div class="errorText pts pbs" style="text-align: center" data-bind='visible: hours.hasError, text: hours.validationMessage'></div>
		</div>
	</div>		
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.add">Add PDU Event</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton pdu_bg" data-bind="click: $root.save">Save</div>
		<div class="validationError errorText" style="display:none; padding-left: 10px;">Please fix any fields marked in red above.</div>
	</div>
</script>