<% @jsinit = 'Badges' %>

<h1>Badges</h1>
<div style="width: 400px">
	Semester: 
	<select data-bind="options: $root.semesters, value: semester" style="width: 100px;"></select>
</div>

<div id='badgesContainer' data-bind="visible: badges().length > 0" style="padding-top: 10px">	
	<div data-bind="foreach: { data: badges, as: 'badge' }">	
		<div data-bind="css: {hasEarned: badge.hasEarned}" style="border: 1px solid black; border-radius: 5px; padding: 10px; width: 100px; display: inline-block;">
			<span data-bind="text: badge.title(), css: {required: badge.isminrequirement}" style="font-weight: bold"></span>
			<div data-bind="text: badge.category()"></div>	
			<div data-bind="text: 'Semester ' + badge.semester()"></div>
		</div>
	</div>	
</div>
<div data-bind="visible: badges().length <= 0">
	<h2>There are no badges yet for this semster.</h2>
</div>

<hr>
<h2>Admin</h2>
<div style="width: 300px;">	
</div>

<h2>KO Debug</h2>
<div data-bind="text: ko.toJSON(Badges.viewModel.badges())"></div>
