<% @jsinit = 'new Badges().init();' %>

<div class="contentContainer badgesContainer" style="display:none;" data-bind="visible: badges().length > 0">
	<div class="mbxl">
		<div class="semesterSelect midnight_text">
			All Badges For: 
			<select class="font_large" data-bind="options:$root.semesters, optionsText:'text', optionsValue:'id', value: semester"></select>
		</div>
	</div>

	<hr class="fadedLine" />

	<div class="totalsBar pbl">
		<div class="scoreboard" style="width: 280px;">
			<div class="value pas service_bg" data-bind="text: badgesEarned"></div>
			<div class="text pvm">Badges Earned</div>
		</div>
		<div class="font_title-bar_small">+</div>
		<div class="minreqsmet scoreboard" style="width: 280px;">
			<div class="value pas pdu_bg" data-bind="text: minReqsMet() ? 'Yes' : 'No', css: {service_bg: totalBadgeValue() > 0, pdu_bg: totalBadgeValue() <= 0 }"></div>
			<div class="text pvm">Minimum Requirements Met?</div>
		</div>
		<div class="font_title-bar_small">=</div>
		<div class="scoreboard" style="width: 340px;">
			<div class="value pas" data-bind="text: totalBadgeValue, css: {service_bg: totalBadgeValue() > 0, pdu_bg: totalBadgeValue() <= 0 }"></div>
			<div class="text pvm">Scholarship Points</div>
		</div>
	</div>
	
	<div class="badges paxl" data-bind="foreach: { data: badges, as: 'badge' }">
		<div class="globalBadge" data-bind="css: getBadgeCss(badge)">
			<span data-bind="text: badge.title(), css: {required: badge.isminrequirement}" class="title"></span>				
			<div data-bind="text: badge.description()" class="description"></div>
			<div class="minReqStar">
				<div class="points" data-bind="text: badge.badgeValue(), css: { pas: !badge.isminrequirement() }" title="Scholarship Points"></div>
				<%= image_tag("star.png", :size => "33x33", :alt => "Minimum Requirement", :"data-bind"=>"visible: badge.isminrequirement()", :title => "Minimum Requirement") %>
			</div>
		</div>		
	</div>
</div>