<% @jsinit = 'Progress' %>

<div class="progressLeftPane leftPane">
	<ul class="progressNav">
		<li id="academicsNav" class="progressNavLi academics_text">Academics</li>
		<li id="extracurNav" class="progressNavLi extracur_text">Extracurricular</li>
		<li id="serviceNav" class="progressNavLi service_text">Service</li>
		<li id="pduNav" class="progressNavLi pdu_text">PDU</li>
		<li id="testingNav" class="progressNavLi testing_text">Testing</li>
	</ul>
</div>

<div id="progressPages" style="margin-left: 235px; padding: 20px; position: relative">
	
</div>