<% @jsinit = 'new Progress().init();' %>

<!-- Change this to @jsinit = 'new Progress().init(@user_id)' so that
we can have an AdminStudentProgress page that passes the user_id which is then passed down in the AJAX calls -->

<div class="progressLeftPane leftPane">
	<ul class="progressNav">
		<li id="academicsNav" class="progressNavLi academics_text">Academics</li>
		<li id="extracurNav" class="progressNavLi extracur_text">Extracurricular</li>
		<li id="serviceNav" class="progressNavLi service_text">Service</li>
		<li id="pduNav" class="progressNavLi pdu_text">PDU</li>
		<li id="testingNav" class="progressNavLi testing_text">Testing</li>
	</ul>
</div>

<div id="progressPages" class="progressContentContainer contentContainer">
	
</div>