.icon-arrow-right
{
	@extend glyphicon;
	@extend glyphicon-arrow-right;
}

.progressEdit
{
	.editRow
	{		
		border: 1px solid lightgray; 
		padding: 10px; 
		border-radius: 3px; 
		margin: auto auto 20px auto; 
		position: relative;		
		@extend .font_normal;

		&.academics { width: 400px; }

		&.activities { 
			width: 575px; 

			.activityTitle > * {
				vertical-align: middle;
			}
		}

		&.service { width: 530px; }
		&.pdu { width: 500px; }
		&.testing { width: 510px; }

		.close_x {
			position: absolute; 
			right: -8px; 
			top: -8px; 
			font-size: 16px;
			color: red; 
			cursor: pointer;
		}
	}

	.classDD { width: 250px; margin-right: 10px; }
	.gradeDD { width: 100px; margin-right: 10px; }
}

.academicsView
{
	.viewRow { 
		padding-bottom: 30px; 

		> * { display: inline-block; }

		.className { width: 480px; border-bottom: 1px dashed; }
		.classGrade { color: $midnight-blue; }
	}
}