.academicsEdit
{
	& .editRow 
	{		
		border: 1px solid lightgray; 
		padding: 10px 0 0 10px; 
		border-radius: 3px; 
		margin: auto auto 20px auto; 
		position: relative;
		width: 390px;
	}

	& .classDD { width: 250px; margin-right: 10px; }
	& .gradeDD { width: 100px; margin-right: 10px; }
}

.academicsView
{
	& .viewRow { 
		padding-bottom: 30px; 

		& > * { display: inline-block; }

		& .className { width: 495px; border-bottom: 1px dashed; }
		& .classGrade { color: $midnight-blue; }
	}
}