/* mixins, variables, etc. */

$turquoise:     #1abc9c;
$green-sea:     #16a085;
$emerland:      #2ecc71;
$nephritis:     #27ae60;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$amethyst:      #9b59b6;
$wisteria:      #8e44ad;
$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;
$sun-flower:    #f1c40f;
$orange:        #f39c12;
$carrot:        #e67e22;
$pumpkin:       #d35400;
$alizarin:      #e74c3c;
$pomegranate:   #c0392b;
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

$ink:           #374347;

$academics: $pumpkin;
$academics_invert: $carrot;

$extracur: $belize-hole;
$extracur_invert: $peter-river;

$pdu: $pomegranate;
$pdu_invert: $alizarin;

$service: $green-sea;
$service_invert: $turquoise;

$testing: $wisteria;
$testing_invert: $amethyst;

$scholarship: $nephritis;
$scholarship_invert: $emerland;

$midnight: $midnight-blue;
$midnight_invert: $wet-asphalt;

$grayMediumLight: #eaeaea;

/* Category colors */
.academics_text { color: $academics; }
.academics_bg, .globalBadge.academics_bg { background-color: $academics; color: white; }

.extracur_text { color: $extracur; }
.extracur_bg, .globalBadge.extracur_bg { background-color: $extracur; color: white; }

.pdu_text { color: $pdu; }
.pdu_bg, .globalBadge.pdu_bg { background-color: $pdu; color: white; }

.service_text { color: $service; }
.service_bg, .globalBadge.service_bg { background-color: $service; color: white; }

.testing_text { color: $testing; }
.testing_bg, .globalBadge.testing_bg { background-color: $testing; color: white; }

.midnight_text {color: $midnight }
.midnight_bg {background-color: $midnight; color: white;}

.scholarship_text {color: $scholarship }
.scholarship_bg {background-color: $scholarship; color: white;}

.errorText { color: red; }
.regularText { color: $ink; }

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {

}

body {
  color: #333;
  font-size: 13px;  
  padding-top: 60px;
  width: 100%;

  min-width: 1030px;

  & ul, ol { margin: 0; }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr.fadedLine
{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

select {
  height: 40px;
}

#wcsflogo
{
  height: 100px;
  padding: 10px;
}

.pageContainer
{
  position: relative;
  width: 100%;
  padding-top:20px;
}

.leftPane
{
  background-color: $clouds;
  height: 100%;
  position: fixed;

  width: 150px; /* This is overridden when necessary */
}

.contentContainer
{  
  padding: 40px 20px;
  position: relative;
}

/* Bootstrap Header overrides */
header
{
  @extend .font_large;
  width: 100%;
  box-shadow: 0 0 10px $ink;
}

.navbar-fixed-top
{
  /* position: absolute !important; */ /* This keeps the header from moving down with the page */
}

#mynav .navbar-inner
{
  background-color: $wet-asphalt;
  background-image: none;
  color: white;

  height: 80px;
}

#mynav .navbar-inner .container
{
  position: absolute;
  bottom: 0px;
  right: 0px;

  padding-right: 5px;
}

#mynav
{
  & .nav > li { padding-right: 5px; }
  & .nav > li > a {
    color: white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }
}

#mynav .nav > li > a:hover
{
  #color: $sun-flower;
  background-color: white;
  color: $wet-asphalt;
  border-radius: 5px 5px 0 0;
}

#mynav .nav > li.selected > a
{
  background-color: white;
  color: $wet-asphalt;
  border-radius: 5px 5px 0 0;
}

/* Bootstrap misc overrides */
select.small_select {
    padding: 5px;
    height: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.font8em { font-size: 8em; line-height: 1;}
.font3em { font-size: 3em; line-height: 1;}

/* header */

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  /* margin-bottom: 15px; */
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* FONT SIZES */
.font_large {
  font-size: 16px;
}

.font_medium {
  font-size: 14px;
}

.font_small {
  font-size: 12px;
}

.font_title-bar_small
{
  font-size: 60px;
  line-height: 1;
}

.font_title-bar_large
{
  font-size: 100px;
  line-height: 1;
}

.textCenter {
  text-align: center;
}

/* Erin's CSS */
.maxl,.mvxl,.mbxl {margin-bottom: 20px}
.mal,.mvl,.mbl {margin-bottom: 15px}
.mam,.mvm,.mbm {margin-bottom: 10px}
.mas,.mvs,.mbs {margin-bottom: 5px}

.maxl,.mvxl,.mtxl {margin-top: 20px}
.mal,.mvl,.mtl {margin-top: 15px}
.mam,.mvm,.mtm {margin-top: 10px}
.mas,.mvs,.mts {margin-top: 5px}

.maxl,.mhxl,.mrxl {margin-right: 20px}
.mal,.mhl,.mrl {margin-right: 15px}
.mam,.mhm,.mrm {margin-right: 10px}
.mas,.mhs,.mrs {margin-right: 5px}

.maxl,.mhxl,.mlxl {margin-left: 20px}
.mal,.mhl,.mll {margin-left: 15px}
.mam,.mhm,.mlm {margin-left: 10px}
.mas,.mhs,.mls {margin-left: 5px}

.paxl,.pvxl,.pbxl {padding-bottom: 20px}
.pal,.pvl,.pbl {padding-bottom: 15px}
.pam,.pvm,.pbm {padding-bottom: 10px}
.pas,.pvs,pbs {padding-bottom: 5px}

.paxl,.pvxl,.ptxl {padding-top: 20px}
.pal,.pvl,.ptl {padding-top: 15px}
.pam,.pvm,.ptm {padding-top: 10px}
.pas,.pvs,.pts {padding-top: 5px}

.paxl,.phxl,.prxl {padding-right: 20px}
.pal,.phl,.prl {padding-right: 15px}
.pam,.phm,.prm {padding-right: 10px}
.pas,.phs,.prs {padding-right: 5px}

.paxl,.phxl,.plxl {padding-left: 20px}
.pal,.phl,.pll {padding-left: 15px}
.pam,.phm,.plm {padding-left: 10px}
.pas,.phs,.pls {padding-left: 5px}


.displayInlineBlock { display: inline-block;}
.displayNone { display: none; }

/* Profile CSS */
img.picture-box {
  max-width: 230px;
  padding: 5px;
  margin: 15px 15px 15px 0;
}

img.picture-box.avatar {
  border: 8px solid $peter-river;
}

img.picture-box.college {
  border: 8px solid $alizarin;
}

.profile-header {
  text-align: left;
}

.edit-user {
  h1 {
    padding-top: 20px;
  }
  .add-picture {
    margin: 15px;
  }
}

.edit-profile {
  h1 {
    padding-top: 20px;
  }
  .add-picture {
    margin: 15px;
  }
  textarea {
    rows: 5;
  }
}

.profile-page {
  margin-top: 20px;
  h2 {
    text-align: left;
    margin: 20px 0px;
    color: $midnight;
    font-weight: bold;

    p {
      font-weight: normal;
      font-size: 18px;
    }
  }
  h1 {
    text-align: left;
  }
  .add-picture {
    margin: 5px 10px 15px 10px;
  }

  .progressHeadingContainer { padding: 0; }
}

.student-index {
  margin: 50px;
  h1, h2 {
    text-align: left;
  }
}


/* Form stuff */
.error { border: 1px solid red; }

.buttonGroup > *
{
  display: inline-block;
}

.submitButton
{
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  cursor: pointer;

  &.academics_bg:hover {background-color: $academics_invert}
  &.extracur_bg:hover {background-color: $extracur_invert}
  &.pdu_bg:hover {background-color: $pdu_invert}
  &.service_bg:hover {background-color: $service_invert}
  &.testing_bg:hover {background-color: $testing_invert}
  &.midnight_bg:hover {background-color: $midnight_invert}
}

.cancelButton
{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid $asbestos;
  color: $ink;
  text-align: center;
  cursor: pointer;
  background-color: $clouds;

  &:hover {background-color: $silver}
}