/* mixins, variables, etc. */

$turquoise:     #1abc9c;
$green-sea:     #16a085;
$emerland:      #2ecc71;
$nephritis:     #27ae60;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$amethyst:      #9b59b6;
$wisteria:      #8e44ad;
$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;
$sun-flower:    #f1c40f;
$orange:        #f39c12;
$carrot:        #e67e22;
$pumpkin:       #d35400;
$alizarin:      #e74c3c;
$pomegranate:   #c0392b;
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  min-width: 800px;
}

body {
  /*background: url("wavegrid.png") repeat scroll 0 0 transparent;*/
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding-top: 60px;
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

select {
  height: 40px;
}

#wcsflogo
{
  height: 100px;
  padding: 10px;
}

.pageContainer
{
  position: relative;
  width: 100%;
}

.leftPane
{
  background-color: $clouds;
  height: 100%;
  position: absolute;
  left: 0;
}

/* Bootstrap Header overrides */
header
{
  font-size: 15px;
  width: 100%;
  min-width: 800px;
}

.navbar-fixed-top
{
  position: absolute !important;
}

#mynav .navbar-inner
{
  background-color: #34495e;
  background-image: none;
  color: white;

  height: 65px;
}

#mynav .navbar-inner .container
{
  position: absolute;
  bottom: 0px;
  right: 0px;

  padding-right: 5px;
}

#mynav .nav > li > a
{
  color: white;
}

#mynav .nav > li > a:hover
{
  color: $sun-flower;
}

#mynav .nav > li.selected > a
{
  color: $sun-flower;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover{
  	color: #fff;
  	text-decoration: none;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  /* margin-bottom: 15px; */
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* FONT SIZES */
.font_large {
  font-size: 16px;
}

.font_medium {
  font-size: 14px;
}

.font_small {
  font-size: 12px;
}

/* Erin's CSS */
.ml {margin: 15px}
.mm {margin: 10px}
.ms {margin: 5px}


.pal {padding: 15px}
.pbl {padding-bottom: 15px}


/* Profile CSS */
img.picture-box {
  max-width: 230px;
  padding: 5px;
  margin: 15px 15px 15px 0;
}

img.picture-box.avatar {
  border: 8px solid #00ABF0;
}

img.picture-box.college {
  border: 8px solid #EF1C25;
}

.profile-header {
  text-align: left;
}

.edit-user {
  h1 {
    padding-top: 20px;
  }
  .add-picture {
    margin: 15px;
  }
}

.edit-profile {
  h1 {
    padding-top: 20px;
  }
  .add-picture {
    margin: 15px;
  }
  textarea {
    rows: 5;
  }
}

.profile-page {
  margin-top: 20px;
  h2 {
    text-align: left;
    margin: 20px 0px;
  }
  h1 {
    text-align: left;
  }
  .add-picture {
    margin: 5px 10px 15px 10px;
  }
}

.student-index {
  margin: 50px;
  h1, h2 {
    text-align: left;
  }
}

.student-classes li {

}

/* Category colors */
.academics_text { color: $pumpkin; }
.extracur_text { color: $belize_hole; }
.pdu_text { color: $pomegranate; }
.service_text { color: $green_sea; }
