// Place all the styles related to the GlobalBadges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hasNotEarned {
	background-color: $clouds !important;
	color: $asbestos !important;
}

.pending {
	background-color: white !important;
}

.headerText 
{
	font-size: 3em; 
	color: $wet-asphalt;
}

#badgeContainer
{
	background-color: $clouds; 
	border: 1px solid $silver;
	border-radius: 5px;

	height: 600px; 
	position: relative;
	top: 80px;

	margin:auto;
	padding: 30px;

	color: white; 
}

#tabContainer
{
	position: absolute; 
	top: -52px; 
	left: 0;
	width: 100%;
	text-align: center;
}

.tab
{
	height: 50px; 
	width: 100px; 
	
	border: 1px solid $silver; 
	background-color: $clouds;
	border-radius: 5px 5px 0 0 ;

	display: inline-block;

	text-align: center;
	line-height: 5px;

	cursor: pointer;
	color: $asbestos;
}

.tab:hover
{
	color: $wet-asphalt;
}

.selectedTab
{
	border-bottom-color: $clouds;
}

.globalBadge
{
	border: 1px solid $midnight-blue; 

	padding: 10px; 	
	
	border-radius: 5px; 
	display: inline-block; 
	
	width: 225px;
	height: 60px;
	
	vertical-align: top;
	margin: 10px;
	text-align: left;
	position: relative;	

	& .title { font-size: 28px; }
	& .description { font-size: 15px; padding-top: 5px; }
	& .minReqStar { position: absolute; right: 0; bottom: 0; }
}

.tabNum
{
	font-size: 28px;
	position: relative;
	top: 22px;
}

.selectedTab .tabNum
{
	color: $wet-asphalt;
}

.categoryBox
{
	height: 20px; 
	width: 40px; 
	display: inline-block;
	cursor: pointer;
	background-color: white;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}

.categoryBox.leftBox
{
	border-radius: 3px 0 0 3px;
	border-left: 1px solid #666;
}

.categoryBox.rightBox
{
	border-radius: 0 3px 3px 0;
}

#categoryFilter
{
	font-size: 0; 
	position: absolute;
	top: 0;
	right: 0;
}

.academics { background-color: $academics; }
.service { background-color: $service; }
.pdu { background-color: $pdu; }
.extracurricular { background-color: $extracur; }

