.badgesContainer
{
	padding: 40px 0 0 0;	

	.totalsBar
	{
		text-align: center;
		max-width: 1000px;
		margin:auto;

		& > div {
			vertical-align: top; 
			display: inline-block;
			text-align: center;
		}

		.minreqsmet { cursor: default; }

		.scoreboard {
			.value {
				border-radius: 5px; 
				text-align: center; 
				margin: auto; 
				width: 120px; 
				font-size: 60px;
				line-height: 1;
			}

			.text {
				font-size: 40px;
				line-height: 1;
			}
		}
	}

	.badges {
		text-align: center;
		background-color: $midnight;
	}

	.highlight { box-shadow: 0 0 20px white;}	
}

.globalBadge
{
	border: 1px solid $midnight-blue;	
	background-color: white;
	padding: 0 10px;
	
	border-radius: 5px; 
	display: inline-block; 
	
	width: 255px;
	height: 105px;

	vertical-align: top;
	margin: 10px;
	text-align: left;
	position: relative;	

	.title { font-size: 28px; }
	.description { font-size: 15px; }
	.minReqStar 
	{ 		
		position: absolute; 
		right: 10px; 
		bottom: 0; 

		& .points { display: inline-block; vertical-align: middle; font-size: 18px; }

		.star {
			color: $sun-flower;
			font-size: 26px;
			line-height: 1;
			vertical-align: middle;
		}
	}

	&.hasNotEarned {
		background-color: $clouds !important;
		color: $asbestos !important;
	}
}

.semesterSelect {
	width: 350px; 
	margin-left: auto; 
	font-size: 22px;

	select { 
		width: 150px; 
		margin: 0;
	}
}