@import 'reset';

html {
  font-size: 62.5%;
}

/* ===============================================
   *****************  Variables  *****************
   =============================================== */

/* Breakpoint */

@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}

/* Fonts */

$font-stack: "jaf-facitweb", Arial, "Helvetica Neue", Helvetica, sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

@mixin font-size($size:1.6, $line: $size * 1.4){
    font-size:   ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size:   $size + rem;
	line-height: $line + rem;
}

/* Colors */

@function black($opacity:1){
    @return rgba(0,0,0,$opacity)
}

@function white($opacity:1){
    @return rgba(255,255,255,$opacity)
}

$blue: rgb(37,170,225);
$red: rgb(239,65,61);
$yellow: rgb(242,190,40);
$green: rgb(57,181,74);
$purple: rgb(178,97,235);
$darkgrey: rgb(34,34,34);
$lightgrey: rgb(88,88,90);

/* Images */

@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}

/* Transitions */

@mixin trans($time) {
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}


/* ===============================================
   Global Styles
   =============================================== */

body { 

	font-family: $font-stack;
	font-weight: $light;
	@include font-size();
	color: $lightgrey;

}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.left {

	float: left;

}

.right {

	float: right;

}

.buttons {

	a {
	
		color: white;
	
	}

}

.button {

	width: 220px;
	height: 50px;
	border: 1px white(1) solid;
	text-align: center;
	@include font-size(1.4);
	font-weight: $bold;
	cursor: pointer;
	
	.text {
	
		margin-top: 15px;
	
	}
	
}

.double {

	margin-left: -1px;

}

/* ===============================================
   Typography
   =============================================== */

h1 {

	@include font-size(12);
	font-weight: $bold;

}

h2 {

	@include font-size(8);
	font-weight: $bold;

}

h3 {

	@include font-size(6);
	font-weight: $bold;

}


h4 {

	@include font-size(4);
	font-weight: $light;

}

h5 {

	@include font-size(2.4);
	font-weight: $light;

}

h6 {

	@include font-size(1.2);
	font-weight: $light;

}

.bold {

	font-weight: $bold;

}

.light {

	font-weight: $light;

}


/* ===============================================
   Header
   =============================================== */

header {

	width: 100%;
	background: $blue;
	color: white();
	border-bottom: 1px white(0.25) solid;
	
	a {
	
		color: white;
		text-decoration: none;
			
	}
	
	.wrapper {
	
		margin: 0 80px;
		
		.imua-logo {
		
			margin: 20px 0;
		
		}
		
		nav {
		
			margin: 50px 0;
		
			li {
			
				float: left;
				margin-left: 100px;
			
			}
		
		}
	
	}
	
}


/* ===============================================
   Upper Content
   =============================================== */

.upper-content {

	width: 100%;
	background: $blue;
	color: white();
	padding: 80px 0px;
	
	.wrapper {
	
		margin: 0 125px;
		
		.greeting {
		
			width: 70%;
			margin-top: 40px;
		
		}
		
		.current-points {
		
			width: 30%;
			text-align: center;
			
			.featured-graph {
			
				width: 365px;
				height: 365px;
				margin: 0 auto;
				background: image-url("chart-placeholder.png") top center no-repeat;
				
				.inner {
				
					padding-top: 100px;
				
				}
			
			}
		
		}
	
	}

}


/* ===============================================
   Middle Content
   =============================================== */

.middle-content {

	width: 100%;
	background: white(1);
	padding: 80px 0;
	text-align: center;
	
	.wrapper {
	
		margin: 0 125px;
	
		.progress-bar {
		
			margin: 40px 0;
		
		}
	
	}
	
}


/* ===============================================
   Lower Content
   =============================================== */

.lower-content {

	width: 100%;
	
	a {
	
		color: white();
		text-decoration: none;
	
	}
	
	.ribbon {
	
		width: 100%;
		color: white;
		
		.left {
		
			width: 30%;
			height: 100%;
			text-align: center;
			background: black(0.15);
			
			.status {
			
				margin: 100px 0;
				
				.button {
				
					margin: 0 auto;
					margin-top: 40px;
					
				}
			
			}
		
		}
		
		.right {
		
			width: 70%;
			height: 515px;
			overflow: auto;
						
			.inner-frame {				
			
				ul {
							
					li {
				
						float: left;
						width: 233px;
						margin: 0 60px;
						
						.badge {
						
							width: 233px;
							height: 300px;
							margin-top: 70px;
							background: image-url('badge1.png') top center no-repeat;
							
							.inner {
							
								width: 135px;
								height: 135px;
								overflow: hidden;
								margin: 0 auto;
								padding-top: 80px;
								text-align: center;
								
								.badge-name {
								
									@include font-size(4, 4);
									font-weight: bold;
								
								}
							
							}
												
						}
						
						.points {
						
							width: 100%;
							margin-top: 20px;
							text-align: center;
						
						}
					
					}
				
				}
			
			}
					
		}
	
	}
	
	.gpa { background: $green; }
	.extracurriculars { background: $red; }
	.service { background: $yellow; }
	.PDU { background: $blue; }
	.testing { background: $purple; }

}



/* ===============================================
   Footer
   =============================================== */

footer {

	text-align: center;
	padding: 100px 0;
	background: $darkgrey;
	color: white;

}
