.progressLeftPane
{
	width: 235px; 
	padding-top: 45px; 
	border-right: 1px solid $asbestos;
	position: fixed;
	z-index: 1;
}

.progressContentContainer
{
	margin-left: 235px;
	//padding: 0 20px;
}

@media screen and (max-height:700px) {
    .progressLeftPane
	{
		width: 235px; 
		padding-top: 45px; 
		border-right: 1px solid $asbestos;		
		z-index: 1;

		position: absolute;
	}
}

.progressNav
{
	padding-top: 20px;

	position: relative;
	left: 1px;
	z-index: 1;

	list-style-type: none;

	& .progressNavLi
	{
		font-size: 28px; 
		padding: 30px 20px;
		cursor: pointer;	

		&.selected {
			background-color: white;
			border-top: 1px solid $asbestos;
			border-bottom: 1px solid $asbestos;
		}

		&.academics_text:hover { color: $academics_invert; }
		&.extracur_text:hover { color: $extracur_invert; }
		&.service_text:hover { color: $service_invert; }
		&.pdu_text:hover { color: $pdu_invert; }
		&.testing_text:hover { color: $testing_invert; }
	}
}


.progressHeadingContainer
{
	padding: 20px 15px 0;
	margin: 30px auto;
	text-align: center;

	& > * { display: inline-block; }
	& .value { font-size: 9em; line-height: 1; }
	& .text { font-size: 4em; padding-left: 10px; line-height: 1; }
}

.categoryDataContainer
{
	padding-top: 20px;	
	position: relative;
	margin: auto;

	& > .academics_bg, > .academics_text { 
		border: 3px solid $academics; 
	}

	& > .extracur_bg, > .extracur_text { 
		border: 3px solid $extracur; 
	}

	& > .service_bg, > .service_text { 
		border: 3px solid $service; 
	}

	& > .pdu_bg, > .pdu_text { 
		border: 3px solid $pdu; 
	}

	& > .testing_bg, > .testing_text { 
		border: 3px solid $testing; 
	}

	& > .header {
		border-radius: 5px 5px 0px 0px; 
		position: relative; 
		text-align: center; 
		height: 60px; 
		color: white; 		

		& .text { 
			position: relative;			
			top: 13px;
			font-size: 2.5em;
			line-height: 1;
		}

		& select {
			width: 115px; 
			position: absolute; 
			bottom: 5px; 
			right: 15px;
		}
	}

	& > .body {
		padding: 35px; 
		border-radius: 0px 0px 5px 5px; 
		border-top: none; 
		font-size: 1.4em;
		background-color: white;
	}
}

.progressPageBadges
{
	border-top: 1px solid; 
	text-align: center; 
	margin-top: 20px; 
	padding-top: 10px;
}

.resources {
	font-size: 1.4em;
	
	> div {display: inline-block;}
}