.progressLeftPane
{
	width: 235px; 
	padding-top: 45px; 
	border-right: 1px solid $asbestos;
	position: fixed;
	z-index: 1;
}

.progressNav
{
	padding-top: 20px;

	position: relative;
	left: 1px;
	z-index: 1;

	list-style-type: none;

	& .progressNavLi
	{
		font-size: 28px; 
		padding: 30px 20px;
		cursor: pointer;	

		&.selected {
			background-color: white;
			border-top: 1px solid $asbestos;
			border-bottom: 1px solid $asbestos;
		}

		&.academics_text:hover { color: $academics_invert; }
		&.extracur_text:hover { color: $extracur_invert; }
		&.service_text:hover { color: $service_invert; }
		&.pdu_text:hover { color: $pdu_invert; }
	}
}


.progressHeadingContainer
{
	padding: 50px 15px 15px 15px;
	margin: 30px auto;	

	& > * { display: inline-block; }
	& .value { font-size: 9em; height: 40px; vertical-align: bottom; }
	& .text { font-size: 4em; padding-left: 10px; vertical-align: bottom; }
}

.categoryDataContainer
{
	padding-top: 20px;	
	position: relative;
	margin: auto;

	& > .academics_bg, > .academics_text { 
		border: 3px solid $academics; 
	}

	& > .extracur_bg, > .extracur_text { 
		border: 3px solid $extracur; 
	}

	& .header {
		border-radius: 5px 5px 0px 0px; 
		position: relative; 
		text-align: center; 
		height: 60px; 
		color: white; 		

		& .text { 
			position: relative; 
			left: 15px; 
			top: 20px;
			font-size: 2.5em; 
		}
	}

	& .body {
		padding: 35px; 
		border-radius: 0px 0px 5px 5px; 
		border-top: none; 
		font-size: 1.4em;
	}
}