// SCSS Variables

$dark-blue: #00446B;
$alt-font: "cubano", sans-serif;

//
.text-dark-blue
{
	color: $dark-blue;
}

body.static_pages {
	padding-top: 0;
	margin: 0 10px;
	color: #434343;
	background: #fff;
}

.static_pages {
	h1 {
		font-family: $alt-font;
		text-align: left;
		margin: 0;
		letter-spacing: 0px;
	}
	h2 {
		text-align: left;
		font-weight: bold;
		color: #ff6b6b;
		margin: 20px 0 10px;
	}
	a:hover {
		text-decoration: none;
	}
}

h1, .user-actions a, .navigation li, .contact-form label {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p {
	color: #434343;
	font-size: 16px;
	line-height: 22px;
}

.pages-container {
	width: 1080px;
	margin: 0 auto;
	background: #fff;
}

.main-content {
	float: left;
	width: 800px;
}

.sidebar {
	float: right;
	width: 260px
}


// Sidebar

.sidebar {
	text-align: center
}

.user-actions {
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: $alt-font;
	font-size: 20px;
	line-height: 60px;
	a {
		display: inline-block;
		color: #fff;
	}
	a.apply-button {
		background: url('purple-rectangle-left.png') no-repeat;
		width: 92px;
		height: 60px;
		float: left;
	}
	a.donate-button {
		background: url('purple-rectangle-right.png') no-repeat;
		width: 168px;
		height: 60px;
	}
	a:hover {
		color: #ddd;
	}
}

// Navigation

.navigation {
	background: #c3d5e3;
	text-transform: uppercase;
	font-family: $alt-font;
	ul {
		list-style-type: none;
		margin: 20px 0;
	}
	li {
		font-size: 20px;
		margin: 0;
		padding: 10px;
		border-bottom: 1px solid $dark-blue;
		&.last-nav-link {
			border-bottom: 0 !important;
		}
	}
	a {
		color: $dark-blue;
	}
	a:hover {
		color: #0a6faa;
	}
}


// Sign in

.sign-in {
	background: #c3d5e3;
	text-align: left;
	form {
		padding: 20px;
	}
}

.sign-out-text {
	padding: 10px 10px 0px 10px;
}

.sign-out {
	margin: 10px;
}

.remember-me {
	display: inline;
	position: relative;
	top: 4px;
}

// Footer

.footer {
	margin: 40px 0;
	.col {
		padding-top: 10px;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	a {
		color: #424242;
		&:hover {
			color: #666;
			text-decoration: underline;
		}
	}
	.left-columns {
		width: 800px;
		float: left;
		.col {
			width: 152px;
			margin-right: 45px;
			float: left;
		}
		.col-red {border-top: 14px solid #EF1C25;}
		.col-yellow {border-top: 14px solid #FFC40A;}
		.col-green {border-top: 14px solid #B3D334;}
		.col-pink {border-top: 14px solid #F59EE5;}
	}
	.right-columns {
		width: 280px;
		float: right;
		.col-blue {border-top: 14px solid #00ABF0;}
		p {
			color: #A2A9AE;
			font-style: italic;
			font-size: 12px;
			line-height: 16px;
			margin-top: 0;
		}
	}
}


// Home

#slideshow {
	width: 800px;
	height: 295px;
	margin-top: 35px;
}

.main-quote {
	width: 500px;
	height: 219px;
	float: left;
	background: url('home-quote-background.png') no-repeat;
	position: relative;
	top: -25px;
	h2 {
		color: #000;
		width: 430px;
		font-size: 28px;
		line-height: 32px;
		font-weight: normal;
		font-style: italic;
		margin: 45px;
	}
}

.try-app {
	width: 300px;
	height: 244px;
	float: right;
	background: url('home-try-app-background.png') no-repeat;
	position: relative;
	top: -15px;
	h4 {
		font-family: $alt-font;
		color: $dark-blue;
		width: 250px;
		font-weight: 300;
		font-size: 24px;
		line-height: 26px;
		margin: 35px 40px 10px;
	}
	a {
		color: #fff;
		margin-left: 40px;
	}
}

.home-main-content {
	background: url('home-background.png') no-repeat;
	width: 800px;
	height: 344px;
	p {
		width: 660px;
		margin: 0 auto;
		font-family: $alt-font;
		font-size: 20px;
		line-height: 24px;
		color: $dark-blue;
	}
}


// Pages

.page-title {
	background: url('top-bar.png') no-repeat;
	height: 87px;
	h1 {
		color: #fff;
		padding: 10px 10px 10px 30px;
		font-family: $alt-font;
	}
}

.page-content {
	padding: 20px;
}

.main-text {
	width: 570px;
	float: left;
}

.donate-sidebar {
	width: 170px;
	float: right;
	img.donate-now {
		margin-bottom: 25px;
	}
}


// Donors

.donors-list {
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	li {
		border-bottom: 1px solid #c3d6e4;
		width: 275px;
	}
}

// Ten Reasons

.ten-reasons-modal {
	width: 678px;
	height: 396px;
	margin-left: -339px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ten-reasons-modal-header {
	background: url('student-modal-top-bar.png') no-repeat;
	width: 678px;
	height: 84px;
	h3 {
		margin: 0;
		padding: 20px 30px;
		color: #fff;
		font-family: $alt-font;
		font-size: 30px;
	}
	.close {
		padding: 10px;
		font-size: 30px;
	}
}

.ten-reasons-modal-body {
	h4 {
		color: #0160a0;
		font-size: 24px;
		font-family: $alt-font;
	}
}

.carousel-control {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 49px;
	height: 72px;
	margin-top: -20px;
	line-height: 0;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.carousel-control.left {
	left: -60px;
	background: url('arrow-left.png') no-repeat;
}
.carousel-control.right {
	right: -60px;
	background: url('arrow-right.png') no-repeat;
}

.reason {
	width: 260px;
	margin-left: 376px;
}

.slide1 {background: #fff url('ten-reasons/reason-1.png') no-repeat;}
.slide2 {background: #fff url('ten-reasons/reason-2.png') no-repeat;}
.slide3 {background: #fff url('ten-reasons/reason-3.png') no-repeat;}
.slide4 {background: #fff url('ten-reasons/reason-4.png') no-repeat;}
.slide5 {background: #fff url('ten-reasons/reason-5.png') no-repeat;}
.slide6 {background: #fff url('ten-reasons/reason-6.png') no-repeat;}
.slide7 {background: #fff url('ten-reasons/reason-7.png') no-repeat;}
.slide8 {background: #fff url('ten-reasons/reason-8.png') no-repeat;}
.slide9 {background: #fff url('ten-reasons/reason-9.png') no-repeat;}
.slide10 {background: #fff url('ten-reasons/reason-10.png') no-repeat;}


// Donate

.donate {
	h3 {
		color: #0160a0;
	}
}

.donate-online {
	clear: both;
	width: 360px;
	float: left;
	padding: 20px
}

.donate-mail {
	width: 360px;
	float: right;
	padding: 20px;
}

p.donate-address {
	font-weight: bold;
	text-align: center;
}

.donate-picture {
	width: 340px;
	margin-right: 20px;
}

.reasons-to-donate {
	width: 250px;
	height: 230px;
	float: left;
	padding: 20px;
	// border-top: 14px solid #ef1c25;
	margin-right: 20px;
	background: #eee;
	margin-bottom: 50px;
	h3 {
		margin-top: 0;
	}
	p {
		padding-top: 10px;
		min-height: 70px;
	}
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
	.donate-text {
		width: 466px;
		float: right;
		h2 {
			font-family: $alt-font;
			font-size: 24px;
			color: #0160A0;
			margin: 0 0 20px;
		}
	}


// Apply

.apply {
	h2 {
		color: #51a351;
		font-weight: bold;
		margin-bottom: 10px;
	}
	h3 {
		color: #0160a0;
	}
}

.application-intro {
	margin-bottom: 20px;
}

.what-it-takes {
	width: 360px;
	float: left;
	padding: 20px;
	background: #eee;
	height: 329px;
	h3 {
		margin-top: 0;
	}
	p {
		min-height: 200px;
	}
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.prepare-early {
	width: 360px;
	float: right;
	padding: 10px 20px;
	background: #eee;
	height: 329px;
	p {
		min-height: 200px;
	}
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.centered-button {
	text-align: center;
}

.apply-now {
	padding: 20px 0;
}

// Apply modals


.apply .modal.fade.in {
	top: 40%;
}

.apply-modal {
	width: 678px;
	margin-left: -339px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.apply-modal-header {
	background: url('student-modal-top-bar.png') no-repeat;
	width: 678px;
	height: 84px;
	h3 {
		margin: 0;
		padding: 20px 30px;
		color: #fff;
		font-family: $alt-font;
		font-size: 30px;
	}
	.close {
		padding: 10px;
		font-size: 30px;
	}
}

.apply-modal-body {
	padding: 30px;
	max-height: 400px;
	overflow-y: auto;
	h4 {
		margin: 0 0 10px;
		color: #06456a;
	}
	h5 {
		margin: 0 0 20px;
		color: #0160a0;
	}
	p {
		margin-bottom: 20px;
	}
}

// What is wcsf

.qa-row {
	margin-bottom: 50px;
	img {
		width: 250px;
		float: left;
		padding-top: 6px;
		border-top: 14px solid;
	}
	.green-line { border-color: #B3D334; }
	.red-line { border-color: #ef1c25; }
	.purple-line { border-color: #87318c; }
	.qa-text {
		width: 466px;
		float: right;
		h2 {
			font-family: $alt-font;
			font-size: 24px;
			color: #0160A0;
			margin: 0 0 20px;
		}
	}
}

// Partnerships

.partner-row {
	margin-bottom: 50px;
	img {
		width: 250px;
		float: left;
	}
	.partner-text {
		width: 466px;
		float: right;
	}
}

.partner-text {
	h2 {
		color: #0160A0;
		margin: 0 0 20px;
	}
}

.lets-partner {
	width: 770px;
	float: left;
	padding: 20px;
	background: #eee;
	height: 220px;
	h3 {
		margin-top: 0;
	}
	p {
		min-height: 40px;
	}
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Students

.student {
	width: 172px;
	float: left;
	margin: 15px 30px 15px 0;
	h3 {
		font-family: $alt-font;
		font-size: 18px;
		color: #0160a0;
	}
}

// Student Modal

.student-modal {
	width: 678px;
	margin-left: -339px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.student-modal-header {
	background: url('student-modal-top-bar.png') no-repeat;
	width: 678px;
	height: 84px;
	h3 {
		margin: 0;
		padding: 20px 30px;
		color: #fff;
		font-family: $alt-font;
		font-size: 30px;
	}
	.close {
		padding: 10px;
		font-size: 30px;
	}
}

.student-modal-body {
	padding: 30px;
	h4 {
		margin: 0 0 10px;
		color: #06456a;
	}
	h5 {
		margin: 0 0 20px;
		color: #0160a0;
	}
	p {
		margin-bottom: 20px;
	}
}

.student-image {
	width: 172px;
	float: left
}

.student-details {
	width: 420px;
	float: right;
}



// Staff
.staff-member {
	margin-bottom: 40px;
	img {
		width: 172px;
		float: left;
		margin-right: 20px;
	}
	.staff-member-description {
		width: 568px;
		float: left;
	}
	h2 {

	}
	h3 {
		font-size: 24px;
		color: #0160a0;
	}
	h4 {
		font-size: 18px;
		color: #06456a;
		margin-top: 0;
	}
	h5 {
		font-size: 16px;
	}
}


// Quick Links

.quick-links {
	font-family: $alt-font;
	ul {
		list-style-type: none;
		margin: 20px 0;
	}
	li {
		float: left;
		padding: 20px;
		color: #fff;
		&.quick-red {
			background: #ef2029;
		}
		&.quick-yellow {
			background: #ffc50f;
		}
		&.quick-green {
			background: #b0cf35;
		}
		&.quick-purple {
			background: #f5a0e6;
		}
	}
}
