body.static_pages {
	padding-top: 0;
	margin: 0 10px;
	background: #ddd;
	color: #434343;
	h1 {
		font-family: "cubano", sans-serif;
		text-align: left;
		margin: 0;
	}
	h2 {
		text-align: left;
	}
	p {
		color: #434343;
		line-height: 1.6em;
	}
	a:hover {
		text-decoration: none;
	}
}

.pages-container {
	width: 1080px;
	margin: 0 auto;
	background: #fff;
}

.main-content {
	float: left;
}

.sidebar {
	float: right;
	width: 260px
}

// Quick Links
.quick-links {
	font-family: "cubano", sans-serif;
	ul {
		list-style-type: none;
		margin: 20px 0;
	}
	li {
		float: left;
		padding: 20px;
		color: #fff;
		&.quick-red {
			background: #ef2029;
		}
		&.quick-yellow {
			background: #ffc50f;
		}
		&.quick-green {
			background: #b0cf35;
		}
		&.quick-purple {
			background: #f5a0e6;
		}
	}
}


// Sidebar

.sidebar {
	text-align: center
}

.user-actions {
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: "cubano", sans-serif;
	a {
		display: inline-block;
		background: #87318c;
		color: #fff;
		padding: 10px;
	}
	a:hover {
		background: #b744bd;
	}

}


// Navigation

.navigation {
	background: #c3d5e3;
	text-transform: uppercase;
	font-family: "cubano", sans-serif;
	ul {
		list-style-type: none;
		margin: 20px 0;
	}
	li {
		margin: 0;
		padding: 10px;
		border-bottom: 1px solid #06456a;
		&.last-nav-link {
			border-bottom: 0 !important;
		}
	}
	a {
		color: #06456a;
	}
	a:hover {
		color: #0a6faa;
	}
}

// Sign in

.sign-in {
	background: #c3d5e3;
	text-align: left;
	form {
		padding: 20px;
	}
}

.remember-me {
	display: inline;
	position: relative;
	top: 4px;
}

// Home

#slideshow {
	width: 800px;
	height: 295px;
}

.main-quote {
	width: 500px;
	height: 219px;
	float: left;
	background: url('home-quote-background.png') no-repeat;
	position: relative;
	top: -25px;
	h2 {
		color: #000;
		width: 430px;
		font-size: 28px;
		font-weight: normal;
		font-style: italic;
	}
}

.try-app {
	width: 300px;
	height: 244px;
	float: right;
	background: url('home-try-app-background.png') no-repeat;
	position: relative;
	top: -15px;
}

.news-announcments {
	h2 {
		color: #ff6b6b;
		font-family: "cubano", sans-serif;
	}
}

// Donate

.page-title {
	background: #05adf0;
	h1 {
		color: #fff;
		padding: 10px;
		font-family: "cubano", sans-serif;
	}
}



p.donate-address {
	font-weight: bold;
	text-align: center;
}


// Footer

.copyright {
	text-align: center;
	font-size: 12px;
	margin: 40px 20px;
}