// Test Prep
.question
{
	.questionText {
		vertical-align: middle;
	}

	.questionPreviewContainer {
		display: inline-block;		

		& > div {
			display: inline-block;
			vertical-align: middle;
		}

		.previewIcon { text-align: center; }
	}
}

.accordionHeader {cursor: pointer;}

.clickable { cursor: pointer; }

// TODO: Change these later based on the actual design
.add { color: #27ae60; font-size: 12px; }