.testTypeContainer
{
	text-align: center;

	.testTypeButtonArea {		
		border-bottom: 1px solid $midnight-blue;
		display: inline-block;
		vertical-align: top;
		height: 100px;
		width: 350px;		

		&.left { border-right: 1px solid $midnight-blue; }

		.testTypeButton
		{
			padding: 15px;
			margin: 5px 15px;
			border: 1px solid $midnight-blue;
			border-radius: 5px;

			font-size: 28px;
			line-height: 1;

			cursor: pointer;

			background-color: $clouds;

			&.selected {
				color: $testing;
				background-color: white;
				box-shadow: 0 0 10px $testing;
			}

			&:hover {
				color: $testing;
				background-color: white;
				box-shadow: 0 0 10px $testing;
			}
		}
	}	
}

.testingEdit
{
	& .editRow 
	{		
		border: 1px solid lightgray; 
		padding: 10px 0 0 10px; 
		border-radius: 3px; 
		margin: auto auto 20px auto; 
		position: relative;
		width: 495px;

		& .close_x {
			position: absolute; 
			right: -5px; 
			top: -10px; 
			font-size: 20px; 
			color: red; 
			cursor: pointer;
		}
	}

	& .classDD { width: 250px; margin-right: 10px; }
	& .gradeDD { width: 100px; margin-right: 10px; }
}

.popover {
	color: $midnight;

	.popover-title { display: none; }
}
