<% @jsinit = 'Activities' %>

<div data-bind="visible: pageLoaded" style="display: none">
	<div class="progressHeadingContainer extracur_text">
		<div data-bind="text: activities().length" class="value"></div>
		<div class="text" style="padding-left: 25px">Extracurriculars</div>
	</div>

	<div class="categoryDataContainer" style="width: 650px;">
		<div class="header extracur_bg">
			<div class="text">My Activities</div>
			<select data-bind="options: semesters, 
							   optionsText: function(item){
							   		if (item == semesters[semesters.length - 1])
							   			return 'Current';

							   		return 'Semester ' + item;
							   	},
							   value: semester"
					class="extracur_text small_select">
			</select>
		</div>
		<div class="body extracur_text" style="">
			<div data-bind="template: {name: templateToUse}"></div>
		</div>
	</div>

	<div class="progressPageBadges extracur_text" data-bind="foreach: { data: badges, as: 'badge' }">
		<div class="globalBadge" data-bind="css: getBadgeColor(badge)">
			<span class="title" data-bind="text: badge.title(), css: {required: badge.isminrequirement}"></span>				
			<div class="description" data-bind="text: badge.description()"></div>
			<div class="minReqStar">
				<div class="points" data-bind="text: badge.badgeValue(), css: { pas: !badge.isminrequirement() }" title="Scholarship Points"></div>
				<%= image_tag("star.png", :size => "33x33", :alt => "Minimum Requirement", :"data-bind"=>"visible: badge.isminrequirement()", :title=>"Minimum Requirement")%>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="view-activities">
	<div style="display:none" data-bind="foreach: activities, visible: activities().length > 0">
		<div style="border-bottom: 1px dashed; padding: 10px 10px 0; margin-bottom: 20px; position: relative;">		
			<div style="font-size: 26px;">
				<span data-bind="text: name" style="width:250px"></span>	
				<span data-bind="text: ' - ' + leadershipTitle(), visible: leadershipHeld" style="width: 250px;"></span>
			</div>
			<div style="font-size: 14px; padding: 10px 5px 5px; margin-left: 15px; color: #374347">
				<ul data-bind="foreach: description">
					<li data-bind="text: text"></li>		
				</ul>
			</div>
			<div data-bind="visible: description().length < 1" style="font-style: italic; color: gray">Click Edit below to add a description for this activity</div>
		</div>
	</div>
	<div data-bind="visible: activities().length < 1" style="padding-bottom: 20px; font-style: italic; color: gray;">
		Click Edit below to add the extracurricular activities you are involved in.
	</div>
	<div class="buttonGroup" data-bind="visible: editable()">
		<div class="submitButton extracur_bg" data-bind="click: $root.editActivities">Edit</div>
	</div>
</script>

<script type="text/html" id="edit-activities">	
	<div class="activitiesEdit" style="display:none" data-bind="foreach: {data: activities, as: 'activity'}, visible: activities().length > 0">
		<div style="border: 1px solid lightgray; padding: 10px; border-radius: 3px; margin-bottom: 20px; position: relative;">
			<div data-bind="click: $root.removeActivity" style="position: absolute; right: -5px; top: -10px; font-size: 20px; color: red; cursor: pointer;">x</div>
			
			<select data-bind="css: {error: school_activity_id.hasError}, valueUpdate: 'afterkeydown', options: $root.globalactivities, value: activity.school_activity_id, optionsCaption: 'Choose Activity...', optionsText:'name', optionsValue:'id'" style="width:220px; position: relative; top: 5px;"></select>
			<div style="display:inline-block">
				<div class="plm" style="display: inline-block; vertical-align: text-top;">
					<input type="checkbox" name="leadershipHeld" data-bind="checked: leadershipHeld">
				</div>
				<div class="" style="display:inline-block; vertical-align:middle;">I am a leader</div>
				<div style="display: inline-block; vertical-align: middle;">
					<input data-bind="css: {error: leadershipTitle.hasError}, valueUpdate: 'afterkeydown', visible:leadershipHeld() == true, value: leadershipTitle" placeholder="Leadership Role Title" style="width: 185px; display: inline-block; vertical-align: middle;" />
				</div>
			</div>
			
			

			<div style="padding-top: 5px; font-style: italic; color: gray; font-size: 14px;">Describe what you did in 3 to 4 sentences. Use action works like "Lead my team" or "Organized an event".</div>
			<div data-bind="foreach: description">
				<div style="padding-top: 5px;">
					<input data-bind="value: text" value="" placeholder="Add a sentence about what you did" style="width: 525px" />
					<span data-bind="click: function(data, event) { $root.removeSentence(activity, data) }" style="padding-left: 10px; color: red; cursor: pointer;">x</span>
				</div>
			</div>
			<div style="padding-top: 10px;">
				<a href="#" data-bind="click: $root.addSentence">Add Sentence</a>
			</div>
		</div>
	</div>
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.addActivity">Add Activity</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton extracur_bg" data-bind="click: $root.saveActivities">Save</div>
		<div class="validationError errorText" style="display:none; padding-left: 10px;">Please fix any fields marked in red above.</div>
	</div>
</script>