<% @jsinit = 'Testing' %>

<div class="ptxl mtxl" data-bind="visible: pageLoaded" style="display: none">
	<div class="resources midnight_text ptl" style="display:none">
		<div>Resources: </div>
		<div class="plm">
			<a href="https://www.varsitytutors.com/login" target="_blank">
				<%= image_tag("varsitytutors.jpg", :width=>"150px", :alt => "Varsity Tutors", :title=>"Practice Quizzes from Varsity Tutors", :id=>"practiceQuizImg")%>
			</a>
		</div>
	</div>

	<div class="testTypeContainer pbxl">
		<div class="testTypeButtonArea left">
			<div class="testTypeButton" data-bind="css: {selected: isShowACT()}, click: showACT.bind($data, true)">
				ACT <br /> Practice
			</div>
		</div><div class="testTypeButtonArea">
			<div class="testTypeButton" data-bind="css: {selected: !isShowACT()}, click: showACT.bind($data, false)">
				Official <br /> Tests
			</div>
		</div>
	</div>

	<div id="officialTests" style="display:none;" data-bind="visible: !isShowACT()">
		<a name="badges"></a>
		
		<div class="mvxl mrxl">
			<div class="semesterSelect midnight_text">
				Choose semester: 
				<select data-bind="options: semesters, 
								   optionsText: function(item){
								   		if (item == semesters[semesters.length - 1])
								   			return 'Current';

								   		return 'Semester ' + item;
								   	},
								   value: semester"
						class="testing_text small_select">
				</select>
			</div>
		</div>	

		<hr class="fadedLine" />

		<div class="progressPageBadges testing_text" style="border-top:0 none; border-bottom: 0px solid;" data-bind="foreach: { data: badges, as: 'badge' }">			
			<div class="globalBadge" data-bind="css: getBadgeColor(badge)">
				<span class="title" data-bind="text: badge.title(), css: {required: badge.isminrequirement}"></span>
				<div class="description" data-bind="text: badge.description()"></div>
				<div class="minReqStar">
					<div class="points" data-bind="text: badge.badgeValue(), css: { pas: !badge.isminrequirement() }" title="Scholarship Points"></div>
					<%= image_tag("star.png", :size => "33x33", :alt => "Minimum Requirement", :"data-bind"=>"visible: badge.isminrequirement()", :title=>"Minimum Requirement")%>
				</div>
			</div>
		</div>

		<div class="categoryDataContainer" style="width: 650px; display:none" data-bind="visible: !isShowACT()">
			<div class="header testing_bg">
				<div class="text"></div>				
			</div>
			<div class="body testing_text" style="">
				<div data-bind="template: {name: templateToUse}"></div>
			</div>
		</div>	
	</div>	

	<div id="actPracticeTests" class="maxl paxl" style="display:none" data-bind="visible: isShowACT()">
		<div style="line-height: 1; font-size: 28px;">ACT Practice Tests</div>
		<div class="mtl well academicsView testing_text" style="font-size: 18px; overflow: auto; height: 300px;" data-bind="foreach: practiceTests, visible: practiceTests().length > 0">
			<div class="viewRow">
				<div class="className" data-bind="text: name()"></div>
				<div class="classGrade" data-bind="">0</div>
				<div class="actions buttonGroup">
					<div class="submitButton testing_bg" data-bind="click: $root.edit">Edit</div>
					<div class="submitButton testing_bg" data-bind="click: $root.edit">Take Test</div>
					<div class="submitButton testing_bg" data-bind="click: $root.edit">Solutions</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<script type="text/html" id="view">
	<div class="academicsView" data-bind="foreach: totalTests, visible: totalTests().length > 0">
		<div class="viewRow">
			<div class="className" data-bind="text: name() + ' on ' + date()"></div>
			<div class="classGrade" data-bind="text: score()"></div>
		</div>
	</div>
	
	<div data-bind="visible: totalTests().length < 1" style="padding-bottom: 20px; font-style: italic; color: gray">
		Click Edit below to add Tests.
	</div>
	<div class="buttonGroup" data-bind="visible: editable()">
		<div class="submitButton testing_bg" data-bind="click: $root.edit">Edit</div>
	</div>
</script>

<script type="text/html" id="edit">	
	<div class="testingEdit" style="display:none" data-bind="foreach: { data: totalTests, as: 'test'}, visible: totalTests().length > 0">
		<div class="editRow">
			<div data-bind="click: $root.remove" class="close_x">x</div>
			
			<select class="classDD" data-bind="css: {error: global_exam_id.hasError}, valueUpdate: 'afterkeydown', options: $root.globalExams, value: test.global_exam_id, optionsCaption: 'Choose Test...', optionsText:'name', optionsValue:'id'" style="width:220px; position: relative; top: 5px;"></select>			
			<input data-bind="css: {error: date.hasError}, valueUpdate: 'afterkeydown', value: date" placeholder="Date" style="width: 150px" class="datepick" data-date-format="mm/dd/yyyy" />
			<input data-bind="css: {error: score.hasError}, valueUpdate: 'afterkeydown', value: score" placeholder="Score" style="width: 100px" />
			<div class="errorText pts pbs" style="text-align: center" data-bind='visible: score.hasError, text: score.validationMessage'></div>
		</div>
	</div>		
	<div class="pbm textCenter">
		<a href="#" data-bind="click: $root.add">Add Test</a>
	</div>
	<div class="buttonGroup">
		<div class="cancelButton" data-bind="click: $root.cancelEdit">Cancel</div>
		<div class="submitButton testing_bg" data-bind="click: $root.save">Save</div>
		<div class="validationError errorText" style="display:none; padding-left: 10px;">Please fix any fields marked in red above.</div>
	</div>
</script>