<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="" style="padding: 0 10px">
      <%= link_to "Wai`anae Coast Scholarship Fund", 'https://wcsf.heroku.com', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>  
          <li><%= link_to "Summary", summary_path %></li>
          <li><%= link_to "Academics", academics_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>